{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="" name="description">
		<meta content="" name="author">
		<!-- <meta name="keywords" content=""> -->

		<!-- TITLE -->
		<title></title>
        {% include 'components/support-system/styles.html' %}
        {% block styles %}
        {% endblock %}

        <!-- END STYLES -->

    </head>
    <body class="main-content main">

        <!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="{% static 'assets/images/svgs/loader.svg'%}" alt="Loader">
		</div>
		<!-- GLOBAL-LOADER END -->

        <!-- PAGE -->
		<div class="page">
			<div class="page-main">

                 <!-- MOBILE HEADER -->
                {% include 'components/support-system/mobile-header.html' %}
                 <!-- END MOBILE HEADER -->

                <!-- HEADER -->
                {% include 'components/support-system/landing-header.html' %}
                <!-- END HEADER -->

                            {% block content %}
                            
                            {% endblock %}

                <!-- FOOTER -->
                {% include 'components/support-system/landing-footer.html' %}
                <!-- END FOOTER -->

                <!-- MODAL -->
                {% include 'components/support-system/modal.html' %}
                {% block modal %}

                {% endblock %}
                <!-- END MODAL -->

            </div>
            <!-- PAGE-MAIN END -->
        </div>
        <!-- PAGE END -->

        <!-- SCRIPTS -->
        {% include 'components/support-system/scripts.html' %}
        {% block scripts %}
        {% endblock %}
        
        <!-- CUSTOM1 JS -->
		<script src="{% static 'assets/js/custom.js'%}"></script>

        <!-- END SCRIPTS -->
    </body>
</html>
