{% extends 'auth/components/custom-base.html' %}
{%load static %}
    {% block styles %}
    {% endblock %}

        {% block switcher-icon %}
        <div class="page responsive-log login-bg">
        {% endblock %}
        {% block content %}
        <style>
        :root {
            --ksu-blue: #0084BD;
            --ksu-cream: #E3E0D2;
            --ksu-gray: #748995;
            --ksu-black: #000000;
            --ksu-darkblue: #095590;
            --cloud-blue: #F5FBFF;
          }
          
          body {
            color: var(--ksu-darkblue);
            
          }
          
          h1, h2, h3, h4, h5, h6 {
            color: var(--ksu-darkblue);
          }
          
          a {
            color: var(--ksu-darkblue);
          }
          
          .page {
           background-color: white;
           ;
          }
      
          .card {
            background-color: var(--cloud-blue);
             position: relative;
             
             overflow: hidden;
             box-shadow: 0 0 10px #095590;
          }
          
          .form-label {
            color: var(--ksu-darkblue);
          }
          
          .form-control {
            border-color: var(--cloud-blue);
            border: 3px var(--ksu-darkblue) solid transparent;
            width: 500px;
          }
          
          .btn-primary {
            background-color: var(--ksu-darkblue);
            border-color: var(--ksu-darkblue);
          }
          
          .error-message {
            color: red;
          }
          
          .alert {
            color: red;
          }
          .element {
             width: 300px;
         }
         .element {
          position: relative;
           top: 50px;
          left: 20px;
         }
         .element {
        width: 500px;
        }
        input.form-control {
        border: 1px solid var(--ksu-darkblue);
      }
      
      
        @media (max-width: 600px) {
        .element {
          width: 200px;
         }
         }
        </style>
          
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-6 col-xl-4 col-xxl-4">
                                <div class="card my-5">
                                    <div class="p-4 pt-6 text-center">
                                        <a href="{% url 'app:index' %}">
                                            <img src="{% static 'assets/images/brand/businessgatelogo.png' %}" alt="Logo" style="width: 100px; height: auto;" />
                                        </a>
                                        <h1 class="mb-2">Forgot Password</h1>
                                        <p class="text-muted">Enter the email address registered on your account</p>
                                    </div>
                                    <div class="container">
                                        {% for message in messages %}
                                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                                               <p style="color: red; text-align: center;">{{ message }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <form class="card-body pt-3" id="forgot" name="forgot" method="POST" action="{% url 'app:forgot-password-to-reset' %}">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <a class="input-group-text">
                                                <i class="fe fe-mail"></i>
                                            </a>
                                            <input class="form-control" placeholder="Email" name="email" type="email" required>
                                           <!---- <div class="error-message" style="color: red;"></div>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Role</label>
                                            <div class="input-group mb-4">
                                                <div class="input-group" id="Password-toggle">
                                                    <a href="" class="input-group-text">
                                                        <i class="fe fe-user" aria-hidden="true"></i>
                                                    </a>
                                                    {{ form.role }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit">
                                            <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                                        </div>
                                        <br>
                                        <div class="text-center mt-4">
                                            <p class="text-dark mb-0">Remembered it?<a class="text-primary ms-1"  href="{% url 'app:login' %}">Send me Back to sign in</a></p>
                                            <br><a href="{% url 'app:index' %}">Business Gate Home</a>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script>
        $(document).ready(function() {
    // Email validation
    $('input[name="email"]').on('blur', function() {
        var email = $(this).val();
        if (email.length === 0) {
            $(this).addClass('is-invalid');
            $(this).siblings('.error-message').text('Email is required');
        } else if (!isValidEmail(email)) {
            $(this).addClass('is-invalid');
            $(this).siblings('.error-message').text('Email should end with ksu.edu.sa');
            alert('Email should end with ksu.edu.sa');
        } else {
            $(this).removeClass('is-invalid');
            $(this).siblings('.error-message').text('');
        }
    });

    // Form submission validation
    $('form#login').on('submit', function(e) {
        var email = $('input[name="email"]').val();

        if (email.length === 0 || !isValidEmail(email)) {
            e.preventDefault();
            alert('Email should end with ksu.edu.sa');
        }
    });

    // Helper function to validate email format
    function isValidEmail(email) {
        var emailRegex = /^[^\s@]+@([^\s@]+\.)?ksu\.edu\.sa$/i;
        return emailRegex.test(email);
    }
});





            </script>
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        $('.alert').fadeOut('slow');
                    }, 30000); // <-- time in milliseconds, 30000 ms = 0.5 min
                });
                </script>

    {% endblock %}
