{% load static %}
<!doctype html >
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>بوابة الأعمال</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/brand/img/businessgatelogo.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
  
.slider_bg_1 {
    background: url('../static/assets/images/ksu/flag.png');
}

.prise_area .col-xl-4:nth-child(1) .single_prise:before {
    background-image: url('../static/assets/images/ksu/phonto2030.JPG');
}
    
.prise_area .col-xl-4:nth-child(3) .single_prise:before {
    background-image: url('../static/assets/images/ksu/phontokai.JPG');
   }

    .prise_area .single_prise:before {
        background-image: url('../static/assets/images/ksu/ksulogoo.jpg');}
  
  .bradcam_bg_2 {
    background-image: url('../static/assets/images/ksu/IMG_0860.JPG');}
  
    .bradcam_bg_3 {
    background-image: url('../static/assets/images/ksu/con.JPG');}

    .footer-wrapper{
    background-color: var(--cloud-blue);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    height: 30px;
    color: var(--ksu-darkblue);
    text-align: center;
    padding: 17px;
    font-weight: 450;
    font-size: 16px;
}

.service_area_list {
            text-align: right; 
            direction: rtl; 
            padding: 20px; 
        }

        .service_area_list li {
            font-weight: bold; 
            margin-top: 10px; 
        }

        .service_details {
            /* margin-left: -90px;   */
            margin-right: 90px;
        }

        .list_summary {
            margin-top: 20px; 
        }

</style>

   </style>
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="#signin">
                                        <img id="logoimg"src="../static/assets/images/ksu/logo-white.png" alt="Businessgate logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="#contact">التواصل</a></li>
                                            <li><a href="https://kai.ksu.edu.sa/en"> المزيد من معهد الملك عبدالله</a></li>
                                            <li><a href="#services"> الخدمات </a></li>
                                            <li><a class="active" href="#about">عن وحدة الأعمال</a></li>
                                            <li><a class="active" href="#signin">تسجيل الدخول</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                
                            </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->   
    <div class="slider_area" id="signin">
        <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text" style="text-align: right;">
                                        <h4>بوابة الأعمال تربط بين عالم الأعمال وعالم التعليم العالي معًا من أجل مستقبل أكثر إشراقًا تماشيًا مع رؤية المملكة العربية السعودية 2030</h4>
                                        <a href="{% url 'app:login' %}" class="boxed-btn3">تسجيل الدخول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
        </div>
    </div>
    <!-- slider_area_end -->

<!-- prise_area_start  -->
    <div class="prise_area" id="about">
        <div class="container-fluid p-0" >
            <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>لماذا تم إنشاء وحدات الأعمال (BUs) في جامعة الملك سعود؟</h5>
                             <p class="prise_text">تماشيًا مع رؤية المملكة العربية السعودية 2030،
                                  أنشأت جامعة الملك سعود وحدات أعمال لتنويع الاقتصاد،
                                  تقليل الاعتماد على النفط، وتعزيز الخدمات العامة. تستخدم BUs الجامعة
                                  الموارد اللازمة لتعزيز التنمية المستدامة، والمساهمة في اقتصاد المعرفة،
                                  وتحقيق الإيرادات الذاتية
                             </p>
                        </div>
                        <div class="prise_number" style="margin-left: 12px;">
                                ٣
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>ما هي وظائف وأنشطة وحدات الأعمال في جامعة الملك سعود؟</h5>
                            <p class="prise_text">توفر وحدات الأعمال (BUs) خدمات مثل التدريب،
                                 تقديم عروض استشارية ومشاريع وأبحاث ودراسات واستشارات للمجتمع.
                                  تهدف وحدات الأعمال هذه إلى دفع التنمية المستدامة من خلال المعرفة متعددة الاتجاهات
                                   النقل بين أعضاء هيئة التدريس والطلاب والشركاء من القطاعين الخاص والعام بجامعة الملك سعود.
                            </p>
                        </div>
                        <div class="prise_number">
                                ٢
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>دور مؤسسة الملك عبدالله للبحوث والدراسات الاستشارية؟ </h5>
                              <p class="prise_text">مؤسسة الملك عبدالله للبحوث والدراسات الاستشارية
                                   (KAI) يربط المعرفة الأكاديمية لجامعة الملك سعود مع القطاعين العام والخاص
                                    الشركاء من خلال التعاون في المشروع والاستشارات والاتفاقيات التعاقدية.
                                     وهذا يسهل تطبيق الرؤى الأكاديمية على نطاق أوسع.
                              </p>
                        </div>
                        <div class="prise_number">
                               ١
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- prise_area_end  -->
    <div class="bradcam_area bradcam_bg_2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text" style="margin-left: 450px;">
                        <h3>المزيد عن خدمات وحدات الأعمال</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ bradcam_area  -->

<!-- works_area-start -->
    <div class="works_area" style="margin-left:600px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-70">
                        <h3>:توفر وحدات الأعمال في الكليات المختلفة ما يلي</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-12">
                <ul class="service_area_list">
                    
                    <li style="margin-right: 90px;"> برامج التدريب</li>
                     <ul class="service_details">
                         <li> تقديم الدورات التدريبية وورش العمل في أحدث المجالات والموضوعات ذات الصلة بتخصص الكلية. يمكن تخصيص الدورات حسب احتياجات المستفيد</li>
                         <li>يتم تقديم الدورات التدريبية وورش العمل خلال فترات مرنة (صباحية أو مسائية) حسب متطلبات المستفيد </li>
                         <li>تقديم برامج صيفية في مجالات مختلفة تتيح للمشاركين الاستفادة من موارد الكلية والبيئة التعليمية خلال العطلة الصيفية  </li>
                     </ul>

                     <li style="margin-right: 90px;">الخدمات الاستشارية</li>
                     <ul class="service_details">
                         <li>تقدم خدمات استشارية وتدريبية لهيئات القطاعين العام والخاص من خلال الشراكات </li>
                         <li> بناء شراكات جديدة لضمان استمرار تقديم الخدمات الاستشارية </li>
                     </ul>
                   
                     <li style="margin-right: 90px;">المشاريع والحلول الخاصة بالمجال</li>
                     <ul class="service_details">
                         <li>ينفذ فرق المشروع من أعضاء هيئة التدريس لتقديم حلول مصممة خصيصًا لتلبية احتياجات المستفيدين </li>
                         <li>تقديم العروض والعطاءات للمشاريع التي يطلبها القطاع العام/الخاص  </li>
                         <li>صياغة ومراجعة المقترحات للمستفيدين </li>
                     </ul>
                    
                     <li style="margin-right: 90px;">الندوات</li>
                     <ul class="service_details">
                         <li>تنظم الندوات الأكاديمية والمهنية</li>
                     </ul>
                     
                     <li style="margin-right: 90px;">الأبحاث والدراسات</li>
                     <ul class="service_details">
                         <li>يدعم إنشاء وتحسين الأنشطة البحثية ذات الصلة بالمستفيدين 
                         </li>
                         <li>يتعاون في مشاريع بحثية مشتركة مع الصناعة والحكومة  </li>
                     </ul>
                     
                     <li style="margin-right: 90px;">برامج التعليم التنفيذي </li>
                     <ul class="service_details">
                         <li>  تقدم الدبلومات المهنية وبرامج الشهادات المصممة خصيصًا لقطاعات محددة </li>
                     </ul>
                   
                     <li style="margin-right: 90px;">استخدام الموارد</li>
                     <ul class="service_details">
                         <li>يؤجر مرافق الكلية أثناء الإجازات لجهات خارجية </li>
                     </ul>
                    <br>
                     <li class="list_summary" style="margin-right: 90px;">
                          باختصار، تستفيد وحدات الأعمال من مرافق الكلية وأعضاء هيئة التدريس والقدرات لتقديم خدمات مخصصة في التدريب والبحث والاستشارات والمجالات الأخرى لمؤسسات القطاعين العام والخاص بناءً على احتياجاتها   
                     </li>
</div>
        </div>
        
  <!--/ works_area-end -->
    
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text" style="margin-left: 930px;">
                    <h3>التواصل</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


<br>

<span class="email-icon" style="font-size: 22px; margin-left: 40px; color: #095590;">
    <i class="fa fa-envelope" style="font-size:25px;">   </i>  businessgate.ksu@gmail.com
</span>
   <br>
   <br>


    <footer class="footer-wrapper">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center" style=" margin-left: 260px;">
                    بوابة الأعمال&copy;2023  كل الحقوق محفوظة.نظام لإدارة سير العمل لوحدات الأعمال بجامعة الملك سعود. 
                </div>
            </div>
        </div>
    </footer>

    <!--js code for logo replace-->
    <script>
        // Select logo img element  
        const logo = document.querySelector('.logo img');
        
        // Select header element
        const header = document.querySelector('.main-header-area'); 
        
        // Initial logo source
        let initialSrc = 'static/assets/images/brand/img/logo-white.png'; 
        
        // Scroll handler
        window.addEventListener('scroll', () => {
        
          // If scrolled past threshold, add sticky class
          if(window.pageYOffset > 50) {
        
            header.classList.add('sticky');
            
            // Change logo source
            logo.src = 'static/assets/images/brand/img/businessgatelogo.png';
        
          // If back to top, remove sticky class
          } else {
            header.classList.remove('sticky');
            // Change logo back 
            logo.src = initialSrc; 
          }
        });
    </script>
    <!--end of replacment code -->

</body>
</html>