{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business Gate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/brand/img/businessgatelogo.png' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
  
.slider_bg_1 {
    background: url('../static/assets/images/ksu/flag.png');
}

.prise_area .col-xl-4:nth-child(1) .single_prise:before {
    background-image: url('../static/assets/images/ksu/phonto2030.JPG');
}
    
.prise_area .col-xl-4:nth-child(3) .single_prise:before {
    background-image: url('../static/assets/images/ksu/phontokai.JPG');
   }

    .prise_area .single_prise:before {
        background-image: url('../static/assets/images/ksu/ksulogoo.jpg');}
  
  .bradcam_bg_2 {
    background-image: url('../static/assets/images/ksu/IMG_0860.JPG');}
  
    .bradcam_bg_3 {
    background-image: url('../static/assets/images/ksu/con.JPG');}

.footer-wrapper{
    background-color: var(--cloud-blue);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    height: 60px;
    color: var(--ksu-darkblue);
    text-align: center;
    padding: 17px;
    font-weight: 450;
    font-size: 16px;
}
</style>

   </style>
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="#signin">
                                        <img id="logoimg"src="../static/assets/images/ksu/logo-white.png" alt="Businessgate logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="#signin">Sign in</a></li>
                                            <li><a class="active" href="#about">about Business unit</a></li>
                                            <li><a href="#services"> services </a></li>
                                            <li><a href="https://kai.ksu.edu.sa/en"> more about KAI</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                
                            </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->   
    <div class="slider_area" id="signin">
        <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text">
                                        <h4>Business Gate bridging the business world and the world of higher education together for brighter future in line with Saudi Arabia vision 2030 </h4>
                                        <a href="{% url 'app:login' %}" class="boxed-btn3">Sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
        </div>
    </div>
    <!-- slider_area_end -->

<!-- prise_area_start  -->
    <div class="prise_area" id="about">
        <div class="container-fluid p-0" >
            <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>Why were Business Units (BUs) established in KSU?</h5>
                            <p class="prise_text">Aligned with Saudi Arabia's Vision 2030,
                                 King Saud University established Business Units (BUs) to diversify the economy,
                                 reduce oil dependence, and enhance public services. The BUs utilize the university's 
                                 resources to promote sustainable development, contribute to the knowledge economy, 
                                 and generate self-revenue
                            </p>
                        </div>
                        <div class="prise_number">
                                01
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>What are the functions and activities of Business Units (BUs) in KSU?</h5>
                            <p class="prise_text">The Business Units (BUs) provide services like training,
                                 advisory offerings, projects, research and studies, and consultancy to society.
                                  These BUs aim to drive sustainable development through multidirectional knowledge
                                   transfer between KSU faculty, students, and private/public partners.
                            </p>
                        </div>
                        <div class="prise_number">
                                02
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>King Abdullah Institution for Research and Consulting Studies role? </h5>
                            <p class="prise_text">The King Abdullah Institution for Research and Consulting Studies
                                 (KAI) connects King Saud University's (KSU) academic knowledge with public and private
                                  partners through project collaborations, consulting, and contractual agreements.
                                   This facilitates applying academic insights more broadly.                                                                                                                                                                                                                      
                            </p>
                        </div>
                        <div class="prise_number">
                               03
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- prise_area_end  -->
    <div class="bradcam_area bradcam_bg_2" id="services">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>More about Business Units services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/ bradcam_area  -->

<!-- works_area-start -->
    <div class="works_area">
        <div class="container">
        <div class="row">
            <div class="col-xl-12">
            <div class="section_title mb-70">
                <h3>Business Units in various colleges provides:</h3>
            </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <ul class="service_area_list">
                    <li>Traning Programs:</li>
                    <ul class="service_details">
                        <li>Provides training courses and workshops in latest fields and topics relevant to the college's specialization. Courses can be customized as per beneficiary needs.</li>
                        <li>Training courses and workshops are offered during flexible periods (morning or evening) according to the requirements of the beneficiary.</li>
                        <li>Provide summer programs in various fields, llowing participants to benefit from the college's resources and educational environment during the summer vacation.  </li>
                    </ul>

                    <li>Consultation Services:</li>
                    <ul class="service_details">
                        <li>Provides consulting and training services to private and public sector entities through partnerships.</li>
                        <li>Builds new partnerships to ensure continued delivery of advisory services.</li>

                    </ul>
                    <li>Projects and Domain-Specific Solutions:</li>
                    <ul class="service_details">
                        <li>Implements project teams from faculty to deliver solutions tailored to beneficiary needs.</li>
                        <li>Submits proposals and bids for projects requested by public/private sector.</li>
                        <li>Formulates and reviews proposals for beneficiaries.</li>

                    </ul>
                    <li>Seminars:</li>
                    <ul class="service_details">
                        <li>Organizes academic and professional seminars.</li>
                    </ul>
                    <li>Research and Studies:</li>
                    <ul class="service_details">
                        <li>Supports establishing and improving research activities relevant to beneficiaries.
                        </li>
                        <li>Collaborates on joint research projects with industry and government.</li>


                    </ul>
                    <li>Executive Education Programs:</li>
                    <ul class="service_details">
                        <li>Offers professional diplomas and certificate programs tailored to specific sectors.</li>

                    </ul>
                    <li>Resource Utilization:</li>
                    <ul class="service_details">
                        <li>Rents out college facilities during vacations to external entities.
                        </li>

                    </ul>
                    <li class="list_summary">
                        In summary, the Business Units leverage the college's facilities, faculty and capabilities to offer customized services in training, research, consultancy and other domains to public and private sector organizations based on their needs.
                    </li>
                
            </div>
        </div>
        </div>
    </div>
  <!--/ works_area-end -->
    
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Contact Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->


    
<span class="email-icon" style="font-size: 22px; margin-left: 40px; color: #095590;">
    <i class="fa fa-envelope" style="font-size:28px;">   </i>  businessgate.ksu@gmail.com
</span>
   <br>


    <footer class="footer-wrapper">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
                    &copy; 2023 Business Gate. All rights reserved. Business Gate is a workflow management system for KSU Business Units. It aims to improve operational efficiency and facilitate collaboration.
                </div>
            </div>
        </div>
    </footer>

    <!--js code for logo replace-->
    <script>
        // Select logo img element  
        const logo = document.querySelector('.logo img');
        
        // Select header element
        const header = document.querySelector('.main-header-area'); 
        
        // Initial logo source
        let initialSrc = 'static/assets/images/brand/img/logo-white.png'; 
        
        // Scroll handler
        window.addEventListener('scroll', () => {
        
          // If scrolled past threshold, add sticky class
          if(window.pageYOffset > 50) {
        
            header.classList.add('sticky');
            
            // Change logo source
            logo.src = 'static/assets/images/brand/img/businessgatelogo.png';
        
          // If back to top, remove sticky class
          } else {
            header.classList.remove('sticky');
            // Change logo back 
            logo.src = initialSrc; 
          }
        });
    </script>
    <!--end of replacment code -->

</body>
</html>