{% extends 'auth/components/custom-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

		{% block switcher-icon %}
        <div class="page responsive-log login-bg">
        {% endblock %}
        {% block content %}
		<!-- PAGE -->
			<div class="page-single">
				<div class="container">

                    {% for message in messages %}
                     <div class="{{ message.tags }}">
                   {{ message }}
                    </div>
                    {% endfor %}
					<div class="row">
						<div class="col mx-auto">
							<div class="row justify-content-center">
								<div class="col-md-8 col-lg-6 col-xl-4 col-xxl-4">
									<div class="card my-5">
										<div class="p-4 pt-6 text-center">
											<h1 class="mb-2">Reset Password</h1>
											<p class="text-muted"></p>
										</div>
                                        <form method="POST" action="{% url 'app:reset_password_action' email role %}">
											{% csrf_token %}
											<div class="form-group">
												<label class="form-label">OTP</label>
												<div class="input-group mb-4">
													<div class="input-group" id="otp" name="otp">
														<a href="" class="input-group-text">
															<i class="fe fe-eye" aria-hidden="true"></i>
														</a>
														<input class="form-control" type="text" name="otp" placeholder="OTP">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">New Password</label>
												<div class="input-group mb-4">
													<div class="input-group" id="Password-toggle1" >
														<a href="" class="input-group-text">
															<i class="fe fe-eye-off" aria-hidden="true"></i>
														</a>
														<input class="form-control" type="password" name="new_password" placeholder="New Password">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Confirm Password</label>
												<div class="input-group mb-4">
													<div class="input-group" id="Password-toggle2">
														<a href="" class="input-group-text">
															<i class="fe fe-eye-off" aria-hidden="true"></i>
														</a>
														<input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password">
													</div>
												</div>
											</div>
											<div class="submit">
												<input type="submit" class="btn btn-primary btn-block" value="Reset Password">
											</div>
											<div class="text-center mt-4">
												<p class="text-dark mb-0">Remembered your password?<a class="text-primary ms-1"  href="{% url 'app:login' %}">Login</a></p>
											</div>
										</form>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- END PAGE -->				
        {% endblock %}

		{% block modal %}
			
        {% endblock %}
		
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
	{% endblock %}