{% extends 'kai_staff/components/custom-base.html' %}

{% load static %}



<div class="page responsive-log login-bg">

	{% block content %}
	<style>
		:root {
		  --ksu-blue: #0084BD;
		  --ksu-cream: #E3E0D2;
		  --ksu-gray: #748995;
		  --ksu-black: #000000;
		  --ksu-darkblue: #095590;
		  --cloud-blue: #F5FBFF;
		}
		
		body {
		  color: var(--ksu-darkblue);
		  
		}
		
		h1, h2, h3, h4, h5, h6 {
		  color: var(--ksu-darkblue);
		}
		
		a {
		  color: var(--ksu-darkblue);
		}
		
		.page {
		 background-color: white;
		 ;
		}
	
		.card {
		  background-color: var(--cloud-blue);
		   position: relative;
		   
		   overflow: hidden;
		   box-shadow: 0 0 10px #095590;
		}
		
		.form-label {
		  color: var(--ksu-darkblue);
		}
		
		.form-control {
		  border-color: var(--cloud-blue);
		  border: 3px var(--ksu-darkblue) solid transparent;
		  width: 500px;
		}
		
		.btn-primary {
		  background-color: var(--ksu-darkblue);
		  border-color: var(--ksu-darkblue);
		}
		
		.error-message {
		  color: red;
		}
		
		.alert {
		  color: red;
		}
		.alert_client_side{
			color: red;
		}
		
		.element {
		   width: 300px;
	   }
	   .element {
		position: relative;
		 top: 50px;
		left: 20px;
	   }
	   .element {
	  width: 500px;
	  }
	  input.form-control {
	  border: 1px solid var(--ksu-darkblue);
	}
	
	
	  @media (max-width: 600px) {
	  .element {
		width: 200px;
	   }
	   }
	
	
	
		
	</style>

	<div class="page-single">
		<div class="container">
			<div class="row">
				<div class="col mx-auto">
					<div class="row justify-content-center">
						<div class="col-md-8 col-lg-6 col-xl-4 col-xxl-4">
							<div class="card my-5">
								<div class="p-4 pt-6 text-center">
									<a href="">
										<img src="{% static 'assets/images/brand/businessgatelogo.png' %}" alt="Logo" style="width: 100px; height: auto;" />
									</a>
									<h1 class="mb-2"> تعيين كلمة المرور جديدة</h1>
									<p class="text-muted">يرجى التمرير لأسفل لرؤية تعليمات كلمة المرور</p>
								</div>
								<div class="container">
									{% for message in messages %}
										<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
											<p style="color: red; text-align: center;">{{ message }}</p>
										</div>
									{% endfor %}
									<div class="alert_client_side"></div>
								</div>
								<form class="card-body pt-3" id="login" name="login" method="post" action="">
									{% csrf_token %}
									
	
									<div class="form-group">
										<label class="form-label">كلمة المرور الجديدة </label>
										<div class="input-group mb-4">
											<div class="input-group" id="new-password-toggle">
												<a href="" class="input-group-text">
													<i class="fa fa-eye-slash" aria-hidden="true"></i>
												</a>
												<input type="password" name="new_password" class="form-control" required placeholder="كلمة المرور الجديدة " />
											</div>
											<div class="error-message" style="display: none; color: red;"></div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="form-label">تأكيد كلمة المرور</label>
										<div class="input-group mb-4">
											<div class="input-group" id="confirm-password-toggle">
												<a href="" class="input-group-text">
													<i class="fa fa-eye-slash" aria-hidden="true"></i>
												</a>
												<input type="password" name="confirm_password" class="form-control" required placeholder="تأكيد كلمة المرور" />
											</div>
											<div class="error-message" style="display: none; color: red;"></div>
										</div>
									</div>
									
	
									<div class="submit">
										<button class="btn btn-primary btn-block" type="submit"> تعيين كلمة المرور </button>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
			<div class="row justify-content-center" >
				<div class="col-md-8 col-lg-6 col-xl-4 col-xxl-4" >
					<div class="card my-5" style="height: 270px;">
						<div class="p-4 pt-6 text-center" style="height: 140px;">
							<h1 class="mb-2">التعليمات</h1>
							<p class="text-muted">
								لقد تم إرسال كلمة مرور لمرة واحدة  (OTP) إلى بريدك الإلكتروني. الرجاء إدخال ذلك في حقل 
يجب أن تحتوي كلمة المرور على ما يلي:	
							</p>
						</div>
							<ol class="text-muted" style="margin-bottom: 90px; margin-right: 27px;">
								<li>يجب أن يتكون من 8 أحرف على الأقل.</li>
								<li>اكتب حرفًا كبيرًا واحدًا على الأقل.</li>
								<li>اكتب حرفًا صغيرًا واحدًا على الأقل.</li>
								<li>يحتوي على رقم واحد على الأقل.</li>
								<li>يحتوي على حرف خاص واحد على الأقل (@، $، !، %، *، ?، & ).</li>
							</ol>		
					</div>
				</div>
			</div>
		
		</div>
	</div>
	

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


		<script>
			$(document).ready(function() {
				var messageTimeout;
				var currentMessage = '';
		
				function showMessage(message) {
					if (message === currentMessage) return;
					currentMessage = message;
					clearTimeout(messageTimeout);
					$('.alert').hide();
					$('.alert_client_side').hide().html('<p style="color: red; text-align: center;">' + message + '</p>').fadeIn();
					messageTimeout = setTimeout(function() {
						$('.alert_client_side').fadeOut();
						currentMessage = '';
					}, 30000);
				}
		
				function clearMessage() {
					clearTimeout(messageTimeout);
					$('.alert_client_side').empty().hide();
					currentMessage = '';
				}
		
				
				// Password validation
				$('input[name="new_password"]').on('blur', function() {
					clearMessage();
					var password = $(this).val();
					if (!isValidPassword(password)) {
						$(this).addClass('is-invalid');
						showMessage('يجب أن تتبع كلمة المرور التعليمات المقدمة. يمكنك التمرير لأسفل لرؤيتهم.');
					} else {
						$(this).removeClass('is-invalid');
						clearMessage();
					}
				});
		
				// Confirm Password validation
				$('input[name="confirm_password"]').on('blur', function() {
					clearMessage();
					var confirmPassword = $(this).val();
					var password = $('input[name="new_password"]').val();
					if (password !== confirmPassword) {
						$(this).addClass('is-invalid');
						showMessage('يجب أن يطابق تأكيد كلمة المرور كلمة المرور.');
					} else {
						$(this).removeClass('is-invalid');
						clearMessage();
					}
				});
		
				// Form submission validation
				$('#login').on('submit', function(e) {
					clearMessage();
					var password = $('input[name="new_password"]').val();
					var confirmPassword = $('input[name="confirm_password"]').val();
		
	
					if (!isValidPassword(password)) {
						e.preventDefault();
						showMessage('يجب أن تتبع كلمة المرور التعليمات المقدمة. يمكنك التمرير لأسفل لرؤيتهم.');
						return;
					}
		
					if (password !== confirmPassword) {
						e.preventDefault();
						showMessage('يجب أن يطابق تأكيد كلمة المرور كلمة المرور.');
						return;
					}
				});
		
				// Helper function to validate password format
				function isValidPassword(password) {
					var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
					return passwordRegex.test(password);
				}
			});
		</script>

		<script>
			$(document).ready(function() {
		$("#otp-toggle .input-group-text").click(function(e) {
			e.preventDefault();
			var input = $(this).siblings('input');
			if (input.attr('type') == 'password') {
				input.attr('type', 'text');
				$(this).children('i').removeClass('fa-eye').addClass('fa-eye-slash');
			} else {
				input.attr('type', 'password');
				$(this).children('i').removeClass('fa-eye-slash').addClass('fa-eye');
			}
		});

		$("#new-password-toggle .input-group-text, #confirm-password-toggle .input-group-text").click(function(e) {
			e.preventDefault();
			var input = $(this).siblings('input');
			if (input.attr('type') == 'password') {
				input.attr('type', 'text');
				$(this).children('i').removeClass('fa-eye-slash').addClass('fa-eye');
			} else {
				input.attr('type', 'password');
				$(this).children('i').removeClass('fa-eye').addClass('fa-eye-slash');
			}
		});
	});
		</script>
		
		<script>
			$(document).ready(function() {
			setTimeout(function() {
				$('.alert').fadeOut('slow');
			}, 30000); // <-- time in milliseconds, 30000 ms = 0.5 min
		});
		</script>

{% endblock %}
