{% extends 'kai_staff/components/base.html' %}
{% load static %}
  
        {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">الحساب التعريفي</div>
							</div>
							<div class="page-rightheader ms-md-auto">
							</div>
						</div>
						<!-- END PAGE HEADER -->

						<!-- ROW -->
						<div class="row">	
							<div class="col-xl-9 col-lg-8 col-md-12">
								<div class=" card mg-b-20   overflow-hidden" style="margin:350px; margin-top: -15px; width: 650px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
									<!-- main-profile-body -->
									<div class="main-profile-body">
										<div class="tab-content">
											<div class="tab-pane show active" id="about">
												<div class="card-body">
														<div class=" mt-3">
															<h4 class="card-title text-center">معلوماتي الشخصية</h4>
															<div class="table-responsive">
																<table class="table mb-0">
																	<tbody>
																		<tr>
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">الإسم الكامل</span>
																			</td>
																			<td class="py-2 px-0">{{ user.first_name|title }} {{ user.last_name|title }}</td>
																		</tr>
																		
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">الجنسية</span>
																			</td>
																			<td class="py-2 px-0">{{user.nationality|title}}</td>
																		</tr>
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">البريد الإلكتروني</span>
																			</td>
																			<td class="py-2 px-0">{{user.email}}</td>
																		</tr>
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">رقم الهاتف المحمول</span>
																			</td>
																			<td class="py-2 px-0">{{user.phonenumber}}</td>
																		</tr>
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">الهوية الوظيفية</span>
																			</td>
																			<td class="py-2 px-0">{{user.kaiemployeeid}}</td>
																		</tr>
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				<span class="font-weight-semibold w-50">نوع المستخدم</span>
																			</td>
																			<td class="py-2 px-0">{{user.position}}</td>
																		</tr>
																		<tr class="border-top">
																			<td class="py-2 px-0">
																				
																			</td>
																			<td class="py-2 px-0"></td>
																		</tr>
																	
																	</tbody>
																</table>
															</div>
															<div class="btn-list text-center">
																<a href="{% url 'kai_staff:edit-profile' %}" class="btn btn-lg btn-primary  ">تغيير رقم الهاتف المحمول</a>
																<a href="{% url 'kai_staff:change-password' %}" class="btn btn-lg btn-primary ">تغيير كلمة المرور</a>
															</div>
														</div>
													
												</div>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <!-- END ROW -->
        {% endblock %}

		
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
		  
	{% endblock %}