asgiref==3.5.0
beautifulsoup4==4.10.0
Django==4.0.5
django-extensions
django-htmlmin==0.11.0
html5lib==1.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
webencodings==0.5.1
reportlab
python-dotenv
openai
arabic-reshaper
python-bidi
python-dateutil
psycopg2                                                            
celery==4.4.7                                   
redis
certifi
requests
