{% extends 'bu/components/base.html' %}
{% load static %}

    {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">تغيير كلمة المرور</div>
							</div>
							<div class="page-rightheader ms-md-auto">
							</div>
						</div>
						<!-- END PAGE HEADER -->
						
						<!-- ROW -->
						
						<div class="row">
							<div class="col-xl-8 col-lg-7">
								<div class="card"  style="width: 450px; margin-right: 390px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
									<div class="card-body">
										<div class="row">
										{% if user.is_buhead %}	
																<form method="post" enctype="multipart/form-data" name="form_type" value="buform" action="{% url 'business_unit_account:changeBUpassword_view' %}">
																	{% csrf_token %}
																	<span class="error-message" style="color: red; margin-right: 120px; margin-top: 20px;">{{error_message}}</span>

																	<div class="col-md-6">
																				<div class="form-group">
																					<label class="form-label">كلمة السر الحالية</label>
																					<div class="input-group mb-4">
																						<div class="input-group" id="Password-toggle" style="width: 750px;">
																							<a href="" class="input-group-text">
																								<i class="fe fe-eye-off" aria-hidden="true"></i>
																							</a>
																							<input type="password" class="form-control" placeholder='كلمة السر الحالية' name="current_password" required>
																							<span class="error-message-current_password" style="color: red;"></span>
																						</div>
																					</div> 
																				</div>
																			</div>  

																			<div class="col-md-6">
																				<div class="form-group">
																					<label class="form-label"> كلمة السر الجديدة </label>
																					<div class="input-group mb-4">
																						<div class="input-group" id="Password-toggle" style="width: 750px;">
																							<a href="" class="input-group-text">
																								<i class="fe fe-eye-off" aria-hidden="true"></i>
																							</a>
																							<input type="password" class="form-control" placeholder='كلمة السر الجديدة' name="new_password" required>
																							<span class="error-message-new_password" style="color: red;"></span>
																						</div>
																					</div> 
																				</div>
																			</div>  

																			<div class="col-md-6">
																				<div class="form-group">
																					<label class="form-label">تأكيد كلمة المرور الجديدة</label>
																					<div class="input-group mb-4">
																						<div class="input-group" id="Password-toggle" style="width: 750px;">
																							<a href="" class="input-group-text">
																								<i class="fe fe-eye-off" aria-hidden="true"></i>
																							</a>
																							<input type="password" class="form-control" placeholder='تأكيد كلمة المرور الجديدة' name="confirm_Password" required>
																							<span class="error-message-confirm_Password" style="color: red;"></span>
																						</div>
																					</div> 
																				</div>
																			</div>  

																			<div class="card-footer text-center" style="margin-left: 350px;">
																				<button  type="submit" class="btn btn-lg btn-primary">تحديث</button>
																				<a href="{% url 'business_unit_account:profile' %}"class="btn btn-lg btn-danger">رجوع</a>
																			</div>
																</form> 
														
										{% else %}
											<form method="post" enctype="multipart/form-data" name="form_type" style="margin-right: 100px;">
												{% csrf_token %}
												<span class="error-message" style="color: red;">{{ form.non_field_errors }}</span> 
												<span class="error-message2" style="color: red;"></span> 
												
																						
														<div class="form-group">
															<label class="form-label">كلمة السر الحالية</label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.current_password }}
																	<span class="error-message" style="color: red;">{{ form.current_password.errors }}</span>
																</div>
															</div> 
														</div>
													
														<div class="form-group">
															<label class="form-label">كلمة السر الجديدة </label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.new_password }}
																	<span class="error-message" style="color: red;">{{ form.new_password.errors }}</span>
																</div> 
															</div> 
														</div>
																
														<div class="form-group">
															<label class="form-label">تأكيد كلمة المرور الجديدة</label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.confirm_password }}
																	<span class="error-message" style="color: red;">{{ form.confirm_password.errors }}</span>	
																</div> 
															</div> 
														</div>
														
														<div class="card-footer text-center">
															<button  type="submit" class="btn btn-lg btn-primary">تحديث</button>
															<a href="{% url 'business_unit_account:profile' %}"class="btn btn-lg btn-danger">رجوع</a>
														</div>
											</form> 
										{% endif %}
									</div>
								</div>
							</div>											
						</div>
					</div>

									
							<div class="card"  style="width: 450px; margin-right: 390px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
								<div class="card-body">
									<div class="card-title"></div>
									<div class="row">
										<label class="form-label" style="font-size: 20px; margin-right: 180px;"> تعليمات</label>
										<P> الرجاء إدخال كلمة المرور الحالية ويجب أن تحتوي كلمة المرور الجديدة على ما يلي: </P>
										<ol style="margin-left: 16px;">
											<li>يجب أن يتكون من 8 أحرف على الأقل.</li>
											<li>اكتب حرفًا كبيرًا واحدًا على الأقل.</li>
											<li>يحتوي على حرف صغير واحد على الأقل.</li>
											<li>يحتوي على رقم واحد على الأقل.</li>
											<li>يحتوي على حرف خاص واحد على الأقل (@، $، !، %، *، ?، & ).</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->
						<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
					

						<script>
							$(document).ready(function() {
							// Current Password validation
							/*$('input[name="current_password"]').on('blur', function() {
								var currentPassword = $(this).val();
								if (currentPassword.length < 8) {
								$(this).addClass('is-invalid');
								$(this).siblings('.error-message-current_password').text('يجب أن تتكون كلمة المرور الحالية من 8 أحرف على الأقل');
								$(this).siblings('.error-message').text('يجب أن تتكون كلمة المرور الحالية من 8 أحرف على الأقل');
								} else {
								$(this).removeClass('is-invalid');
								$(this).siblings('.error-message').text('');
								$(this).siblings('.error-message-current_password').text('');
								}
							});*/

							// New Password validation
							$('input[name="new_password"]').on('blur', function() {
								var newPassword = $(this).val();
								var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
								if (!passwordRegex.test(newPassword)) {
								$(this).addClass('is-invalid');
								$(this).siblings('.error-message-new_password').text('يجب أن تتكون كلمة المرور الجديدة من 8 أحرف على الأقل، وأن تحتوي على حرف كبير واحد على الأقل، وحرف صغير واحد، ورقم واحد، وحرف خاص واحد');
								$(this).siblings('.error-message').text('يجب أن تتكون كلمة المرور الجديدة من 8 أحرف على الأقل، وأن تحتوي على حرف كبير واحد على الأقل، وحرف صغير واحد، ورقم واحد، وحرف خاص واحد');
								} else {
								$(this).removeClass('is-invalid');
								$(this).siblings('.error-message').text('');
								$(this).siblings('.error-message-new_password').text('');
								}
							});

							// Confirm Password validation
							/*$('input[name="confirm_password"]').on('blur', function() {
							 	var newPassword = $('input[name="new_password"]').val();
							 	var confirmPassword = $(this).val();
							 	if (newPassword !== confirmPassword) {
							 	$(this).addClass('is-invalid');
							 	$(this).siblings('.error-message-confirm_password').text('يجب أن يتطابق تأكيد كلمة المرور مع كلمة المرور الجديدة');
								$(this).siblings('.error-message').text('يجب أن يتطابق تأكيد كلمة المرور مع كلمة المرور الجديدة');
							 	} else {
							 	$(this).removeClass('is-invalid');
							 	$(this).siblings('.error-message-confirm_password').text('');
								 $(this).siblings('.error-message').text('');
							 	}
							});*/

							// Form submission validation
							$('form[name="form_type"]').on('submit', function(e) {
								var currentPassword = $('input[name="current_password"]').val();
								var newPassword = $('input[name="new_password"]').val();
								var confirmPassword = $('input[name="confirm_password"]').val();

								if (currentPassword.length < 8 || newPassword.length < 8 || !newPassword.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/)) {
									e.preventDefault();
									$('.error-message2').text('يرجى ملء جميع الحقول بشكل صحيح');
								}
								else if (newPassword.trim() !== confirmPassword.trim()){
									e.preventDefault();
									$('.error-message2').text('يجب أن يتطابق تأكيد كلمة المرور مع كلمة المرور الجديدة');
								}
								});
							});

							</script>
							<script>
								$(document).ready(function() {
									$("#toggle-password-current").click(function() {
										togglePasswordVisibility($(this), $(this).parent().parent().next());
									});

									$("#toggle-password-new").click(function() {
										togglePasswordVisibility($(this), $(this).parent().parent().next());
									});

									$("#toggle-password-confirm").click(function() {
										togglePasswordVisibility($(this), $(this).parent().parent().next());
									});
								});

								function togglePasswordVisibility(eyeIcon, inputField) {
								eyeIcon.toggleClass("fa-eye fa-eye-slash");
								if (inputField.attr("type") === "password") {
									inputField.attr("type", "text");
								} else {
									inputField.attr("type", "password");
								}
							}
							</script>
							<script>
								$(document).ready(function() {
										setTimeout(function() {
											$('.alert').fadeOut('slow');
										}, 30000); 
									});
							</script>
	{% endblock %}

	
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
	{% endblock %}