{% extends 'bu/components/faculty-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

        {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">قائمة هيئة التدريس</div>
							</div>
							<div class="page-rightheader ms-md-auto">
								<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">	
								</div>
							</div>
						</div>
						<!-- END PAGE HEADER -->

						<!-- ROW -->
						<div class="row">
							<div class="col-xl-12 col-md-12 col-lg-12">
								<div class="card">
									<div class="card-body">
										<div class="table-vcenter">
											<table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="client-list">
												
												<thead>
												<div class="row mt-2">
													<div class="" style="margin-right: 898px; margin-bottom: 29px; height: 40px;">
														<label for="department_filter" class="d-inline-block">تصفية حسب القسم </label>
														<select name="department_filter" id="department_filter" class="form-control" class=" text-center d-inline-block" style="width: 182px; font-size: 14px; height: 36px; color: gray; font:#0084BD;">
															<option value="all">جميع الأقسام</option>
															{% for department in departments %}
																<option value="{{ department }}">{{ department }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
													<tr>
														<th class="border-bottom-0">الرتبة</th>
														<th class="border-bottom-0">الإسم الكامل</th>
														<th class="border-bottom-0">البريد الإلكتروني</th>
														<th class="border-bottom-0">القسم</th>
														<th class="border-bottom-0">التخصص الدارسي</th>
														<th class="border-bottom-0">التخصص الدقيق</th>
														<th class="border-bottom-0">تفاصيل</th>
													</tr>
												</thead>
												<tbody>
													{% for faculty_member in faculty %}
													<tr>
														<td>
															<div class="me-3 mt-0 mt-sm-2 d-block">
																{% if faculty_member.position == 'عميد الكلية'  or  faculty_member.position == 'موظف في الكلية' %}
																	<h6 class="mb-1 fs-14">{{ faculty_member.position }} </h6>
																{% else %}
																	<h6 class="mb-1 fs-14">{{ faculty_member.rank }} </h6>
																{% endif %}
															</div>
														</td>
														<td>
															<div class="me-3 mt-0 mt-sm-2 d-block">
																<h6 class="mb-1 fs-14">{{ faculty_member.first_name }} {{ faculty_member.last_name }}</h6>
															</div>
														</td>
														<td >{{faculty_member.email}}</td>
														<td>{{faculty_member.department_field|title}}</td>
														<td>{{faculty_member.major|title}}</td>
														<td>
															{% if faculty_member.specialization %}
																{{faculty_member.specialization}}
															{% else %}
																لا يوجد
															{% endif %}
														</td>		
														<td >
															<div class="d-flex" >
																<a href="{% url 'business_unit_account:faculty-view' faculty_id=faculty_member.id %}"  type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" ><i style="width:20px;"class="feather feather-eye  text-nowrap"></i></a>
															</div>
														</td>
													</tr>
													{% empty %}
													<tr>No faculty members found.</tr>
												  {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->
        {% endblock %}

		
    {% block scripts %}
		<!-- NOTIFICATIONS JS -->
        <script src="{% static 'assets/plugins/notify/js/notifIt.js'%}"></script>

        <!-- INTERNAL CHART JS -->
        <script src="{% static 'assets/plugins/chart/chart.bundle.js'%}"></script>

        <!-- INTERNAL DATEPICKER JS -->
        <script src="{% static 'assets/plugins/modal-datepicker/datepicker.js'%}"></script>

        <!-- INTERNAL DATA TABLES  -->
        <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>

        <!-- INTERNAL INDEX JS -->
        <script src="{% static 'assets/js/client/client-list.js'%}"></script>

		<!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>

		
		<script>
			$(document).ready(function() {
				$('#department_filter').change(function() {
					var selectedDepartment = $(this).val();
					if (selectedDepartment == 'all') {
						// Show all rows
						$('tbody tr').show();
					} else {
						// Hide all rows
						$('tbody tr').hide();
						// Show only rows with the selected department
						$('tbody tr').filter(function() {
							return $(this).find('td:nth-child(4)').text() == selectedDepartment;
						}).show();
					}
				});
			});
		</script>
	{% endblock %}