{% extends 'bu/components/Home-base.html' %}
{% load static %}
{% block styles %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

{% endblock %}
        {% block content %}
							<!-- PAGE-HEADER -->
							<div class="page-header d-xl-flex d-block">
								<div class="page-leftheader">
									<div class="page-title"><span class="font-weight-normal text-muted ms-2">لوحة القيادة</span></div>
								</div>
								<div class="page-rightheader ms-md-auto">
									<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
										<div class="d-flex">
											
											<div class="header-datepicker me-3">
												<div class="input-group" style="width: 200px;">
													<div class="input-group-prepend">
														<div class="input-group-text" >
															<i class="feather feather-calendar"></i>
														</div>
													</div>
													<p id="date" class="form-control fc-datepicker"></p>
												</div>
											</div>
											
											<div class="header-datepicker me-3" style="border-radius:20px;">
												<div class="input-group" style="width: 140px;">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<i class="feather feather-clock"></i>
														</div>
													</div>
													<p  type="text" id="time" class="form-control input-small" ></p>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!-- ROW -->
							<div class="row">
								<div class="col-xl-9 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xl-4 col-lg-4 col-md-12">
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:50px; box-shadow: inset; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">موظف</span>
																<h3 class="mb-0 mt-1 mb-2">{{emp}}</h3>
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-end"> <i class="feather feather-users"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-4 col-lg-4 col-md-12" >
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:120px; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">قسم</span>
																<h3 class="mb-0">{{department}}</h3>	
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-end"> <i class="fe fe-layers"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-4 col-lg-4 col-md-12" >
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:190px; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">طالب</span>
																<h3 class="mb-0 mt-1 mb-2">{{collage.nostudents}}</h3>
																<span class="text-muted mb-0 mt-1 mb-2">
																	<p>{{collage.nofemalestudents}} انثى  {{collage.nomalestudents}} ذكر</p>
																</span>	
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-center"> <i class="fe feather-users"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xl-9 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xl-4 col-lg-4 col-md-12">
										<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:50px; box-shadow: inset; background-color: aliceblue;">
											<div class="card-body">
												<div class="row">
													<div class="col-8">
														<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">عدد المشاريع المنفذة للوحدة من بدايتها</span>
															<h3 class="mb-0 mt-1 mb-2">{{project_count}}</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4 col-lg-4 col-md-12" >
										<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:120px; background-color: aliceblue;">
											<div class="card-body">
												<div class="row">
													<div class="col-8">
														<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">عدد البرامج التدريبية المنفذة للوحدة من بدايتها</span>
															<h3 class="mb-0">{{program_count}}</h3>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4 col-lg-4 col-md-12" >
										<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:190px; background-color: aliceblue;">
											<div class="card-body">
												<div class="row">
													<div class="col-8">
														<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">الارباح للوحدة من بدايتها</span>
															<h3 class="mb-0 mt-1 mb-2">{{ projectAndprogram_cost }}</h3>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
							
						<div class="card" style=" width:690px; height: 450px; box-shadow:1px 1px 2px 1px #0084BD; margin-right: 30px; box-shadow: inset; background-color: aliceblue;">
							<div class="card-header border-0">
								<h4 class="card-title">الأرباح للوحده من بدايتها</h4>
								<br><br>
							</div>
									<div class="card-body">
										<canvas id="revenue" width="300" height="150"></canvas>
									</div>
								</div>
					

					<div class="col-xl-4 col-md-12 col-lg-6">
						<div class="card" style="margin-right:30px; width:320px; height:400px; box-shadow: inset;box-shadow:1px 1px 2px 1px #0084BD; background-color: aliceblue;">
							<div class="card-header border-0">
								<h4 class="card-title">نسبة الأرباح للوحدة من بدايتها</h4>
							</div>
							<div class="card-body">
								<canvas id="pie-chart" width="220" height="175"></canvas>
							</div>
						</div>
					</div>
				</div>
			
        {% endblock %}

		
    {% block scripts %}
		<!-- INTERNAL PEITY CHART JS -->
		<script src="{% static 'assets/plugins/peitychart/jquery.peity.min.js'%}"></script>
		<script src="{% static 'assets/plugins/peitychart/peitychart.init.js'%}"></script>

		<!-- INTERNAL APEXCHART JS -->
		<script src="{% static 'assets/plugins/apexchart/apexcharts.js'%}"></script>

		<!-- INTERNAL VERTICAL-SCROLL JS -->
		<script src="{% static 'assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js'%}"></script>
		<script src="{% static 'assets/plugins/vertical-scroll/vertical-scroll.js'%}"></script>

		<!-- INTERNAL  DATEPICKER JS -->
		<script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>

		<!-- INTERNAL CHART JS-->
		<script src="{% static 'assets/plugins/chart/chart.bundle.js'%}"></script>
		<script src="{% static 'assets/plugins/chart/utils.js'%}"></script>

		<!-- INTERNAL TIMEPICKER JS-->
		<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
		<script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

		<!-- INTERNAL CHARTJS ROUNDED-BARCHART JS-->
		<script src="{% static 'assets/plugins/chart.min/chart.min.js'%}"></script>
		<script src="{% static 'assets/plugins/chart.min/rounded-barchart.js'%}"></script>

		<!-- INTERNAL jQUERY-COUNTDOWNTIMER JS -->
		<script src="{% static 'assets/plugins/jQuery-countdowntimer/jQuery.countdownTimer.js'%}"></script>

		<!-- INTERNAL INDEX JS-->
		<script src="{% static 'assets/js/index1.js'%}"></script>

		<!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
		
		<script>
			const d = new Date();
			const dateOptions = { year: 'numeric', month: 'long', day: 'numeric', localeMatcher: 'best fit', weekday: 'long', era: 'short' };
			const timeOptions = { hour: '2-digit', minute: '2-digit' };
	
			document.getElementById("date").innerHTML = d.toLocaleDateString('ar', dateOptions);
			document.getElementById("time").innerHTML = d.toLocaleTimeString('ar', timeOptions);
		</script>

<script>
	// Get data from the context passed by the view
	var projectRevenue = "{{ project_cost }}";
	var programRevenue = "{{ program_cost }}";

	var ctx = document.getElementById('revenue').getContext('2d');
	var revenueChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['جميع ارباح المشاريع', 'جميع ارباح البرامج التدريبية'],
			datasets: [{
				label:'',
				data: [projectRevenue, programRevenue],
				backgroundColor: [
					'#5969ff', 
					'#ff407b',
				],
				borderColor: [
					'#5969ff',
					'#ff407b',
				],
				borderWidth: 1
			}],
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
			legend: {
                    display: false
                }
		}
	});

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	// Get data from the context passed by the view
	var projectRevenue = parseFloat("{{ project_cost }}");
	var programRevenue = parseFloat("{{ program_cost }}");

	// Calculate the total revenue and percentages
	var total = projectRevenue + programRevenue;
	var projectPercentage = Math.round((projectRevenue / total) * 100);
	var programPercentage = Math.round((programRevenue / total) * 100);
//'المشاريع',' البرامج التدريبية 
	var ctx = document.getElementById('pie-chart').getContext('2d');
	var revenuePieChart = new Chart(ctx, {
		type: 'doughnut',
		data: {
			labels: ['المشاريع',' البرامج التدريبية '],
			datasets: [{
				
				backgroundColor: [
					"#5969ff",
					"#ff407b",
				],
				data: [projectRevenue, programRevenue]
			}]
		},
		options: {
			tooltips: {
				callbacks: {
					label: function(tooltipItem, data) {
						var dataset = data.datasets[tooltipItem.datasetIndex];
						var currentValue = dataset.data[tooltipItem.index];
						var total = dataset.data.reduce((accumulator, currentValue) => accumulator + currentValue);
						var percentage = Math.round((currentValue / total) * 100);
						return data.labels[tooltipItem.index] + ': ' + percentage + '%';
					}
				}
			}
		}
	});
</script>

    {% endblock %}