{% extends 'bu/components/Home-base.html' %}
{% load static %}
    {% block styles %}
    {% endblock %}
        {% block content %}
							<!-- PAGE-HEADER -->
							<div class="page-header d-xl-flex d-block">
								<div class="page-leftheader">
									<div class="page-title"><span class="font-weight-normal text-muted ms-2">لوحة القيادة</span></div>
								</div>
								<div class="page-rightheader ms-md-auto">
									<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
										<div class="d-flex">
											<div class="header-datepicker me-3">
												<div class="input-group">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<i class="feather feather-calendar"></i>
														</div>
													</div><input class="form-control fc-datepicker" placeholder="22 Oct 2023" type="text">
												</div>
											</div>
											<div class="header-datepicker me-3">
												<div class="input-group">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<i class="feather feather-clock"></i>
														</div>
													</div><!-- input-group-prepend -->
													<input id="tpBasic" type="text" placeholder="03:35am" class="form-control input-small">
												</div>
											</div><!-- wd-150 -->
										</div>
									</div>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!-- ROW -->
							<div class="row">
								<div class="col-xl-9 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xl-4 col-lg-4 col-md-12">
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:50px; box-shadow: inset; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">موظف</span>
																<h3 class="mb-0 mt-1 mb-2">{{emp}}</h3>
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-end"> <i class="feather feather-users"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-4 col-lg-4 col-md-12" >
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:120px; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">قسم</span>
																<h3 class="mb-0">{{department}}</h3>	
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-end"> <i class="fe fe-layers"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xl-4 col-lg-4 col-md-12" >
											<div class="card"  style=" box-shadow:1px 1px 2px 1px #0084BD; width:288px; height: 108px; margin-right:190px; background-color: aliceblue;">
												<div class="card-body">
													<div class="row">
														<div class="col-8">
															<div class="mt-0 text-start"> <span class="fs-14 font-weight-semibold">طالب</span>
																<h3 class="mb-0 mt-1 mb-2">{{collage.nostudents}}</h3>
																<span class="text-muted mb-0 mt-1 mb-2">
																	<p>{{collage.nofemalestudents}} انثى  {{collage.nomalestudents}} ذكر</p>
																</span>	
															</div>
														</div>
														<div class="col-4">
															<div class="icon1 bg-primary my-auto  float-center"> <i class="fe feather-users"></i> </div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
								</div>
							</div>
								
							<!-- *********************************************************** -->
								<div class="col-xl-4 col-md-12 col-lg-6">
									<div class="card" style=" width:690px; height: 434px; box-shadow:1px 1px 2px 1px #0084BD; margin-right: 30px; box-shadow: inset; background-color: aliceblue;">
										<div class="card-header border-0">
											<h4 class="card-title">المشاريع</h4>
											<!-- <div class="card-options">
												<div class="dropdown"> <a  href="javascript:void(0);" class="btn btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false"> Week <i class="feather feather-chevron-down"></i> </a>
													<ul class="dropdown-menu dropdown-menu-end" role="menu">
														<li><a  href="javascript:void(0);">Monthly</a></li>
														<li><a  href="javascript:void(0);">Yearly</a></li>
														<li><a  href="javascript:void(0);">Weekly</a></li>
													</ul>
												</div>
											</div> -->
										</div>
										<div class="card-body">
											<div class="mt-5">
												<canvas id="sales-summary" class=""></canvas>
											</div>
											<div class="sales-chart mt-4 row text-center">
												<div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-primary me-2 my-auto"></span>قيد العمل</div>
												<div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-secondary me-2 my-auto"></span>قيد الإنتظار</div>
												<div class="d-flex my-auto col-sm-4 mx-auto text-center justify-content-center"><span class="dot-label bg-light4  me-2 my-auto"></span>مكتمل</div>
											</div>
										</div>
									</div>
								</div>
								
								
								<div class="col-xl-4 col-md-12 col-lg-6">
									<div class="card" style="margin-right:380px; width:310px; box-shadow: inset;box-shadow:1px 1px 2px 1px #0084BD; background-color: aliceblue;">
										<div class="card-header border-0">
											<h4 class="card-title">الأنشطة الحديثة</h4>
											
										</div>
										<div class="card-body">
											<ul class="timeline">
												<li>
													<a target="_blank"  href="javascript:void(0);" class="font-weight-semibold fs-15 ms-3">طلب مقبول</a>
													<a  href="javascript:void(0);" class="text-muted float-end fs-13">6 min ago</a>
													<p class="mb-0 pb-0 text-muted pt-1 fs-11 ms-3">من "خالد"</p>
													<span class="text-muted  ms-3 fs-11">عضو هيئة التدريس</span>
												</li>
												<li class="primary">
													<a target="_blank"  href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">تحديث الدورة التدريبية</a>
													<a  href="javascript:void(0);" class="text-muted float-end fs-13">10 min ago</a>
													<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">من "سارة"</p>
													<span class="text-muted ms-3 fs-11">عضو هيئة التدريس</span>
												</li>
												<li class="pink">
													<a target="_blank"  href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3"> رسالة</a>
													<a  href="javascript:void(0);" class="text-muted float-end fs-13">15 min ago</a>
													<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">من "نايف"</p>
													<span class="text-muted ms-3 fs-11">رئيس قسم وحدات الأعمال بمعهد الملك عبدالله</span>
												</li>
												<li class="success mb-0 pb-0">
													<a target="_blank"  href="javascript:void(0);" class="font-weight-semibold fs-15 mb-2 ms-3">مراجعه المشروع</a>
													<a  href="javascript:void(0);" class="text-muted float-end fs-13">1 Hour ago</a>
													<p class="mb-0 pb-0 text-muted fs-11 pt-1 ms-3">من "احمد"</p>
													<span class="text-muted ms-3 fs-11">موظف بقسم وحدات الأعمال بمعهد الملك عبدالله</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							<!-- END ROW -->
        {% endblock %}

		
    {% block scripts %}
		<!-- INTERNAL PEITY CHART JS -->
		<script src="{% static 'assets/plugins/peitychart/jquery.peity.min.js'%}"></script>
		<script src="{% static 'assets/plugins/peitychart/peitychart.init.js'%}"></script>

		<!-- INTERNAL APEXCHART JS -->
		<script src="{% static 'assets/plugins/apexchart/apexcharts.js'%}"></script>

		<!-- INTERNAL VERTICAL-SCROLL JS -->
		<script src="{% static 'assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js'%}"></script>
		<script src="{% static 'assets/plugins/vertical-scroll/vertical-scroll.js'%}"></script>

		<!-- INTERNAL  DATEPICKER JS -->
		<script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>

		<!-- INTERNAL CHART JS-->
		<script src="{% static 'assets/plugins/chart/chart.bundle.js'%}"></script>
		<script src="{% static 'assets/plugins/chart/utils.js'%}"></script>

		<!-- INTERNAL TIMEPICKER JS-->
		<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
		<script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

		<!-- INTERNAL CHARTJS ROUNDED-BARCHART JS-->
		<script src="{% static 'assets/plugins/chart.min/chart.min.js'%}"></script>
		<script src="{% static 'assets/plugins/chart.min/rounded-barchart.js'%}"></script>

		<!-- INTERNAL jQUERY-COUNTDOWNTIMER JS -->
		<script src="{% static 'assets/plugins/jQuery-countdowntimer/jQuery.countdownTimer.js'%}"></script>

		<!-- INTERNAL INDEX JS-->
		<script src="{% static 'assets/js/index1.js'%}"></script>

		<!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
    {% endblock %}