{% extends 'admin/components/base.html' %}
    {% load static %}
        {% block styles %}
        {% endblock %}

        {% block content %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        
        <script>                               
        // AJAX
        $(document).ready(function () {
         $('input[name="firstName"]').on('blur', function() {
              var topic = $(this).val();
              var arabicPattern = /^[\u0600-\u06FF\s]+$/;
              var numberPattern = /[\u0660-\u0669\u0030-\u0039]/;
              if (topic.length < 2) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-firstName').text('يجب ملئ الحقل و ان يكون  حرفين او اكثر ');
              }else if (numberPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-firstName').text('لا يمكن أن يكون يحتوي على أرقام'); 
             }else if (!arabicPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-firstName').text('يجب ان يكون باللغة العربية');
              }else {
              $(this).removeClass('is-invalid');
              $(this).siblings('.error-message-firstName').text('');
              }
          });

         $('input[name="lastName"]').on('blur', function() {
              var topic = $(this).val();
              var arabicPattern = /^[\u0600-\u06FF\s]+$/;
              var numberPattern = /[\u0660-\u0669\u0030-\u0039]/;
              if (topic.length < 2) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-lastName').text('يجب ملئ الحقل و ان يكون  حرفين او اكثر ');
              }else if (numberPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-lastName').text('لا يمكن أن يكون يحتوي على أرقام'); 
             }else if (!arabicPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-lastName').text('يجب ان يكون باللغة العربية');
              }else {
              $(this).removeClass('is-invalid');
              $(this).siblings('.error-message-lastName').text('');
              }
          });
     
         $('input[name="email"]').on('blur', function() {
              var result2 = $('#result2').val();
              var topic = $(this).val();
              var emailPattern = /^[^@\s]+@ksu\.edu\.sa$/; 
              if (!emailPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-email').text('يجب ان يكون الايميل بصيغة جامعه الملك سعود (ksu.edu.sa@*******)');
              }else if(result2 === 'true'){
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-email').text('البريد إلكتروني يوجد في النظام');
              }else {
                  $(this).removeClass('is-invalid');
                  $(this).siblings('.error-message-email').text('');
              }
          });

         $('input[name="email"]').on('change', function() {
              var result2 = $('#result2').val();
              var topic = $(this).val();
              var emailPattern = /^[^@\s]+@ksu\.edu\.sa$/; 
              if (!emailPattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-email').text('يجب ان يكون الايميل بصيغة جامعه الملك سعود (ksu.edu.sa@*******)');
              }else if(result2 === 'true'){
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-email').text('البريد إلكتروني يوجد في النظام');
              }else {
                  $(this).removeClass('is-invalid');
                  $(this).siblings('.error-message-email').text('');
              }
          });

         $('input[name="phonenumber"]').on('blur', function() {
              var topic = $(this).val();
              var phonePattern = /^05\d{8}$/;
              if (!phonePattern.test(topic.trim())) {
                  $(this).addClass('is-invalid');
                  $(this).siblings('.error-message-phonenumber').text('يجب ان يكون بالمفتاح السعودي(********05)');
              }else {
                  $(this).removeClass('is-invalid');
                  $(this).siblings('.error-message-phonenumber').text('');
              }
          });
       
        });  

        $(document).ready(function () {
                 $("#selectNationality").select2();
            });
        </script>

        <script>
        function checkEmail(){
                var email = document.querySelector('input[name="email"]').value;
                var result2 = $('#result2');
                var element = $('.error-message-email');
                var attendURL =  "{% url 'admin_account:checkEmail' email='placeholder' %}".replace('placeholder', email);

                $.ajax({
                    url: attendURL,
                    type: 'GET',
                    success: function(response) { 
                        if (response.success_message !== undefined) {
                            if (response.success_message === true) {
                                console.log('Email exists in the system');
                                element.text('البريد إلكتروني يوجد في النظام');
                                result2.val('true');
                                console.log('in response.success_message = true result2: ', result2.val());
                            } else {
                                element.text('');
                                result2.val('false');
                                console.log('in response.success_message = false result2: ', result2.val());
                            }
                        } else {
                            console.log('Response message not received2');
                        }
                    },
                    error: function(error) {
                        console.error('Error occurred2:', error);
                    }
                }); 
            }
        </script>  

        <script>
        function validateForm() {
                var firstname = document.querySelector('input[name="firstName"]');
                var lastname = document.querySelector('input[name="lastName"]');
                var email = document.querySelector('input[name="email"]');
                var phonenumber = document.querySelector('input[name="phonenumber"]');
                var result2 = document.getElementById('result2');
                var result = document.getElementById('result');
                var result3 = document.getElementById('result3');
                
                var arabicPattern = /^[\u0600-\u06FF\s]+$/;
                var emailPattern = /^[^@\s]+@ksu\.edu\.sa$/; 
                var phonePattern = /^05\d{8}$/;
                var numberPattern = /[\u0660-\u0669\u0030-\u0039]/;

                if (firstname.value.length < 2 || numberPattern.test(firstname.value.trim()) || !arabicPattern.test(firstname.value.trim())) {
                    console.log('in firstname check');
                    return false;
                } 

                if (lastname.value.length < 2 || numberPattern.test(lastname.value.trim()) || !arabicPattern.test(lastname.value.trim())) {
                    console.log('in lastname check');
                    return false;
                } 

                if (!emailPattern.test(email.value.trim())) {
                    console.log('in email check');
                    return false;
                } 
                
                if (!phonePattern.test(phonenumber.value.trim())) {
                    console.log('in phonenumber check');
                    return false;
                } 

                console.log('result2: ', result2.value); 
                if (result2.value.trim() === 'true') {
                    console.log('in checkEmail check');
                    return false;
                }

                console.log('result: ', result.value); 
                if (result.value.trim() === 'true') {
                    console.log('in checkPosition check');
                    return false;
                }

                console.log('result3: ', result3.value); 
                if (result3.value.trim() === 'true') {
                    console.log('in Dean check');
                    return false;
                }
            }
        </script>

        <script>
        function checkposition(){
            var position = document.getElementById('positionSelect').value;
            var element = $('.error-message-position');
            var result = $('#result');
            var result3 = $('#result3');
            
            if (position == 'رئيس قسم وحدات الأعمال بمعهد الملك عبدالله'){
                var attendURL =  "{% url 'admin_account:checkposition' %}";
                $.ajax({
                url: attendURL,
                type: 'GET',
                success: function(response) { 
                    if (response.success_message !== undefined) {
                        if (response.success_message === true) {
                            console.log('here inside position true ')
                            element.text('يوجد رئيس قسم وحدات الأعمال بمعهد الملك عبدالله في النظام');
                            result.val('true');
                        } else {
                            element.text('');
                            result.val('false');
                        }
                    } else {
                        console.log('Response message not received');
                    }
                },
                error: function(error) {
                    console.error('Error occurred:', error);
                }
            }); 
            } else{
                element.text('');
                result.val('false');
            }
            
            if (position =='عميد معهد الملك عبدالله'){
                var attendURL =  "{% url 'admin_account:checkDean' %}";
                $.ajax({
                url: attendURL,
                type: 'GET',
                success: function(response) { 
                    if (response.success_message !== undefined) {
                        if (response.success_message === true) {
                            console.log('here inside checkDean true ')
                            element.text('يوجد رئيس قسم وحدات الأعمال بمعهد الملك عبدالله في النظام');
                            result3.val('true');
                        } else {
                            element.text('');
                            result3.val('false');
                        }
                    } else {
                        console.log('Response message not received');
                    }
                },
                error: function(error) {
                    console.error('Error occurred:', error);
                }
            }); 
            } else{
                element.text('');
                result3.val('false');
            }
        
        }
        </script>



                    <!-- PAGE HEADER -->
                    <div class="page-header d-xl-flex d-block">
                        <div class="page-leftheader">
                            <div class="page-title">تعديل معلومات موظف في معهد الملك عبدالله</div>
                        </div>
                    </div>
                    <!-- END PAGE HEADER -->

                    <!-- ROW -->
                        <div class="modal" tabindex="-1" id="deletekai">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
                                    </div>
                                    {% if kaiexists %}
                                        <div class="modal-body">
                                            <p> لا يمكنك الحذف الا بتعيين رئيس وحدة اعمال آخر</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">رجوع</button>
                                        </div>
                                    {% else %}
                                        <div class="modal-body">
                                            <p >هل أنت متأكد من حذف الموظف/المنسوب</p>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
                                            <a href="{% url 'admin_account:deletekai' id=editkai.id %}" class="btn btn-primary" id="alertConfirmDelete">تأكيد</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

						<div class="row">
							<div class="col-xl-12 col-md-12 col-lg-12">
								<div class="card">
                                    <form method="post" onsubmit="return validateForm();" id="myForm" enctype="multipart/form-data">
                                        {% csrf_token %}	
									    <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">الاسم الاول<span class="text-red">*</span></label>
                                                        <input class="form-control" type="text" placeholder="الاسم الاول" name="firstName" required value="{{editkai.first_name}}">
                                                        <span class="error-message-firstName" style="color: red;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">الاسم الاخير<span class="text-red">*</span></label>
                                                        <input class="form-control" type="text" placeholder="الاسم الاخير" name="lastName" required value="{{editkai.last_name}}">
                                                        <span class="error-message-lastName" style="color: red;"></span>
                                                    </div>
                                                </div>
                                            </div>
										
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">البريد الإلكتروني<span class="text-red">*</span></label>
                                                        <input  type="hidden" id="result2" name="result2" value="false">
                                                        <input class="form-control" type="email" name="email" placeholder="البريد الإلكتروني" onchange="checkEmail()" required value="{{editkai.email}}">
                                                        <span class="error-message-email" style="color: red;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">رقم الجوال<span class="text-red">*</span></label>
                                                        <input class="form-control" type="text" name="phonenumber" placeholder="رقم الجوال" required value="{{editkai.phonenumber}}">
                                                        <span class="error-message-phonenumber" style="color: red;"></span>
                                                    </div>
                                                </div>
                                            </div>
										
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">الجنس<span class="text-red">*</span></label>
                                                        <select name="gender"  class="form-control custom-select select2"  data-placeholder="اختر" required value="{{editkai.gender}}">
                                                            <option label="اختر"></option> 
                                                            <option value="ذكر" {% if editkai.gender == 'ذكر' %} selected {% endif %}>ذكر</option>
                                                            <option value="انثى" {% if editkai.gender == 'انثى' %} selected {% endif %}>انثى</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" style="width: 525px;">
                                                        <label class="form-label">الجنسية<span class="text-red">*</span></label>
                                                        <select class="form-control select2" name="nationality" id="selectNationality" data-placeholder="اختر" required value="{{editkai.nationality}}">
                                                            <option label="اختر"></option>  
                                                            {% for nationality in nationalities %}
                                                            <option value="{{nationality}}" {% if editkai.nationality == nationality %} selected {% endif %}>{{nationality}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
										
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label"> المسمى الوظيفي<span class="text-red">*</span></label>
                                                        <input  type="hidden" id="result" name="result" value="false">
                                                        <input  type="hidden" id="result3" name="result3" value="false">
                                                        <select  class="form-control select2" data-placeholder="اختر" id="positionSelect" name="position" onchange="checkposition()" required>
                                                            <option value="">اختر</option>
                                                            <option value= 'عميد معهد الملك عبدالله'  {% if editkai.position == 'عميد معهد الملك عبدالله' %} selected {% endif %}>عميد معهد الملك عبدالله</option>
                                                            <option value='رئيس قسم وحدات الأعمال بمعهد الملك عبدالله' {% if editkai.position == 'رئيس قسم وحدات الأعمال بمعهد الملك عبدالله' %} selected {% endif %}>رئيس قسم وحدات الأعمال بمعهد الملك عبدالله</option>
                                                            <option value='موظف بقسم وحدات الأعمال بمعهد الملك عبدالله' {% if editkai.position == 'موظف بقسم وحدات الأعمال بمعهد الملك عبدالله' %} selected {% endif %}>موظف بقسم وحدات الأعمال بمعهد الملك عبدالله</option>
                                                        </select>
                                                        <span class="error-message-position" style="color: red;"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">الرقم الوظيفي</label>
                                                        <input class="form-control" type="text" name="empnum" placeholder="الرقم الوظيفي" value="{{editkai.employeeid}}">
                                                        <span class="error-message-empnum" style="color: red;"></span>
                                                    </div>
                                                </div>
                                            </div>

									    </div>
                                   
                                        <div class="card-footer text-end">
                                            <button type="submit" name="addkai" class="btn btn-primary btn-lg projectnotify">تعديل</button>
                                            <button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#deletekai" >حذف</button>
                                            <a  href="{% url 'admin_account:kaiList' %}" class="btn btn-primary btn-lg">رجوع</a>
                                        </div>
                                    </form>
                                </div>
							</div>
						</div>
						<!-- END ROW -->	


        {% endblock %}

        {% block script %}
            <!-- NOTIFICATIONS JS -->
            <script src="{% static 'assets/plugins/notify/js/notifIt.js'%}"></script>

            <!-- INTERNAL CHART JS -->
            <script src="{% static 'assets/plugins/chart/chart.bundle.js'%}"></script>
            <script src="{% static 'assets/plugins/chart/utils.js'%}"></script>

            <!-- INTERNAL DATEPICKER JS -->
            <script src="{% static 'assets/plugins/modal-datepicker/datepicker.js'%}"></script>
            
            <!-- THEME COLOR JS -->
            <script src="{% static 'assets/js/themeColors.js'%}"></script>

            <!-- INTERNAL SUMOSELECT JS -->
            <script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js'%}"></script>
    
        
            <!-- INTERNAL FORM ADVANCED ELEMENT JS -->
            <script src="{% static 'assets/js/formelementadvnced.js'%}"></script>
            <script src="{% static 'assets/js/form-elements.js'%}"></script>
            <script src="{% static 'assets/js/select2.js'%}"></script>
    
            <!-- INTERNAL MULTIPLE SELECT JS -->
            <script src="{% static 'assets/plugins/multipleselect/multiple-select.js'%}"></script>
            <script src="{% static 'assets/plugins/multipleselect/multi-select.js'%}"></script>
        {% endblock %}
    