{% extends 'faculty_staff/components/base.html' %}
{% load static %}

{% block styles %}

{% endblock %}

{% block content %}

                    <div class="page-header d-lg-flex d-block">
                        <div class="page-leftheader">
                            <div class="page-title"> المشاريع</div>
                        </div>
                        <div class="page-rightheader ms-md-auto">
                            <div class="page-rightheader ms-md-auto">
                                <div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                
                    <div class="tab-menu-heading hremp-tabs p-0 ">
                        <div class="tabs-menu1" >
                            <ul class="nav panel-tabs" style=" margin-right: 290px;" >
                                <li class="ms-4" ><a href="#tab1" class="active"  data-bs-toggle="tab">طلبات المشاريع</a></li>
                                <li><a href="#tab2" data-bs-toggle="tab">مشاريعي الحالية</a></li>
                                <li><a href="#tab3" data-bs-toggle="tab">المشاريع المنتهية</a></li>
                                <li><a href="#tab4" data-bs-toggle="tab">مشاريع تم رفضها</a></li>
                            </ul>
                        </div>
                    </div>

                 
                    <div class="panel-body tabs-menu-body hremp-tabs1 p-0" >
                        <div class="tab-content">
                            
                            <div class="tab-pane active" id="tab1">
                                <div class="card-body">
                                    <div class="col-xl-12 col-md-12 col-lg-12">	
										<div class="table-vcenter">
                                            <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">	
												<thead>
                                                    <!-- <div class="row mt-2">
                                                        <div style="margin-right: 755px; height: 40px;">
                                                            <label for="status_filter" class="d-inline-block">تصفية حسب حالة الطلب </label>
                                                            <select name="status_filter" id="status_filter" class="form-select text-center d-inline-block" style="width: 182px; font-size: 14px; height: 36px; color: gray; font:#0084BD;">
                                                                <option value="all">جميع الحالات</option>           
                                                                    <option value="انتظار قبول الطلب من قبل العضو-انتظار قبول الطلب من قبل جميع الفريق"> انتظار قبول فريق العمل</option>
                                                                    <option value="تم بدء العمل على المشروع">تم البدء في المشروع</option>
                                                                    <option value="تسليم المشروع للمعهد للمراجعة">تم تسليم المشروع للمعهد</option>
                                                                    <option value="تم رفض المشروع">تم الرفض </option>
                                                                    <option value="التاريخ المتوقع للرد على المشروع">انتظار الرد لاستكمال المشروع</option>
                                                                    <option value="إكمال المشروع">يتم العمل عليه</option>
                                                                    <option value="إنهاء المشروع">مكتمل</option>
                                                            </select>
                                                        </div>
                                                    </div> -->
													<tr>
														<th class="border-bottom-0">إسم المشروع</th>
														<th class="border-bottom-0">نوع المشروع</th>
														<th class="border-bottom-0">تاريخ الإنشاء </th>
														<th class="border-bottom-0">حالة المشروع</th>
														<th class="border-bottom-0">الإطلاع على التفاصيل</th>	
													</tr>
												</thead>

												<tbody>
													{% for program in combined_programs %}
                                                            <tr>
                                                                <td>
                                                                    <div class="me-3 mt-0 mt-sm-2 d-block">
                                                                        <h6 class="mb-1 fs-14">{{ program.Name }}</h6>
                                                                    </div>
                                                                </td>
                                                                <td>{{program.programtype}}</td>
                                                                <td>{{program.OfferingDate | date:"M. d, Y"}}</td>
                                                                <td>
                                                                    {{ program.status }}
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" name="update_status" value="accept">
                                                                    <a href="{% url 'faculty_staff_account:project_view' program_id=program.programid %}" type="button" class="btn btn-outline-info" style="margin-right: 50px;"><i style="width:40px;"class="feather feather-eye text-nowrap"></i></a> 
                                                                </td> 
                                                            </tr>
													{% empty %}
													<tr >
                                                        <td colspan="7" style="margin-right: 60px;">لا يوجد مشاريع حالية</td>
                                                    </tr>      
												  {% endfor %}    
												</tbody>
                                            </table>
										</div>
                                    </div>
                                </div> 
                            </div>
                
                            <div class="tab-pane" id="tab2">
                                <div class="card-body">
                                    <div class="col-xl-12 col-md-12 col-lg-12">  
										<div class="table-vcenter">
                                            <table class="table table-bordered text-nowrap border-bottom" id="responsive-datatable" >
												<thead>
													<tr>
														<th class="border-bottom-0">مقدم الطلب</th> 
														<th class="border-bottom-0">إسم المشروع</th>
														<th class="border-bottom-0">تاريخ الإنشاء </th>
														<th class="border-bottom-0">حالة الطلب</th>
                                                        <th class="border-bottom-0">الإطلاع على التفاصيل</th>
													</tr>
												</thead>
                                                
												<tbody>
													{% for program in accepted_projects %}
                                                            <tr>
                                                                <td>
                                                                    <div class="me-3 mt-0 mt-sm-2 d-block">
                                                                        <h6 class="mb-1 fs-14">{{ program.Name }}</h6>
                                                                    </div>
                                                                </td>
                                                                <td>{{program.programtype}}</td>
                                                                <td>{{program.OfferingDate | date:"M. d, Y"}}</td>
                                                                <td>
                                                                    {{ program.status }}
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" name="update_status" value="accept">
                                                                    <a href="{% url 'faculty_staff_account:project_view' program_id=program.programid %}" type="button" class="btn btn-outline-info" style="margin-right: 50px;"><i style="width:40px;"class="feather feather-eye text-nowrap"></i></a> 
                                                                </td> 
                                                            </tr>
													{% empty %}
													<tr >
                                                        <td colspan="7" style="margin-right: 60px;">لا يوجد مشاريع حالية</td>
                                                    </tr>      
												  {% endfor %}    
												</tbody>
											</table>
										</div> 
									</div>  
							    </div> 
						    </div>

                            <div class="tab-pane" id="tab3">
                                <div class="card-body">
                                    <div class="col-xl-12 col-md-12 col-lg-12">  
										<div class="table-vcenter">
                                            <table class="table table-bordered text-nowrap border-bottom" id="delete-datatable" >
												<thead>
													<tr>
														<th class="border-bottom-0">مقدم الطلب</th> 
														<th class="border-bottom-0">إسم المشروع</th>
														<th class="border-bottom-0">تاريخ الإنشاء </th>
														<th class="border-bottom-0">حالة الطلب</th>
                                                        <th class="border-bottom-0">الإطلاع على التفاصيل</th>
													</tr>
												</thead>
                                                
												<tbody>
													{% for program in fineshed_projects %}
                                                            <tr>
                                                                <td>
                                                                    <div class="me-3 mt-0 mt-sm-2 d-block">
                                                                        <h6 class="mb-1 fs-14">{{ program.Name }}</h6>
                                                                    </div>
                                                                </td>
                                                                <td>{{program.programtype}}</td>
                                                                <td>{{program.OfferingDate | date:"M. d, Y"}}</td>
                                                                <td>
                                                                    {{ program.status }}
                                                                </td>
                                                                <td>
                                                                    <input type="hidden" name="update_status" value="accept">
                                                                    <a href="{% url 'faculty_staff_account:project_view' program_id=program.programid %}" type="button" class="btn btn-outline-info" style="margin-right: 50px;"><i style="width:40px;"class="feather feather-eye text-nowrap"></i></a> 
                                                                </td> 
                                                            </tr>
													{% empty %}
													<tr >
                                                        <td colspan="7" style="margin-right: 60px;">لا يوجد مشاريع حالية</td>
                                                    </tr>      
												  {% endfor %}    
												</tbody>
											</table>
										</div> 
									</div>  
							    </div> 
						    </div> 
                        

                            <div class="tab-pane" id="tab4">
                                <div class="card-body">
                                    <div class="col-xl-12 col-md-12 col-lg-12">  
										<div class="table-vcenter">
                                            <table class="table table-bordered text-nowrap border-bottom" id="example2" >
												<thead>
													<tr>
														<th class="border-bottom-0">إسم المشروع</th>
														<th class="border-bottom-0">نوع المشروع</th>
														<th class="border-bottom-0">تاريخ الإنشاء </th>	
													</tr>
												</thead>

												<tbody>
													{% for program in rejected_projects %}
                                                            <tr>
                                                                <td>
                                                                    <div class="me-3 mt-0 mt-sm-2 d-block">
                                                                        <h6 class="mb-1 fs-14">{{ program.Name }}</h6>
                                                                    </div>
                                                                </td>
                                                                <td>{{program.programtype}}</td>
                                                                <td>{{program.OfferingDate | date:"M. d, Y"}}</td>
                                                            </tr>
													{% empty %}
													<tr >
                                                        <td colspan="7" style="margin-right: 60px;">لا يوجد مشاريع </td>
                                                    </tr>      
												  {% endfor %}    
												</tbody>
											</table>
										</div> 
									</div>  
							    </div> 
						    </div> 
                        
                        </div>
                    </div>
    
{% endblock %}



{% block scripts %}
        <!-- INTERNAL TIMEPICKER JS -->
        <script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
        <script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

        <!-- INTERNAL DATEPICKER JS -->
        <script src="{% static 'assets/plugins/date-picker/date-picker.js'%}"></script>
        <script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>
        <script src="{% static 'assets/plugins/input-mask/jquery.maskedinput.js'%}"></script>

        <!-- INTERNAL FILE-UPLOADS JS -->
        <script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js'%}"></script>

        <!-- INTERNAL FILE-UPLOADS JS -->
        <script src="{% static 'assets/plugins/fileupload/js/dropify.js'%}"></script>
        <script src="{% static 'assets/js/filupload.js'%}"></script>

        <!-- INTERNAL SUMOSELECT JS -->
        <script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js'%}"></script>

        <!-- INTERNAL INTLTELINPUT JS -->
        <script src="{% static 'assets/plugins/intl-tel-input-master/intlTelInput.js'%}"></script>
        <script src="{% static 'assets/plugins/intl-tel-input-master/country-select.js'%}"></script>
        <script src="{% static 'assets/plugins/intl-tel-input-master/utils.js'%}"></script>

        <!-- INTERNAL JQUERY TRANSFER JS -->
        <script src="{% static 'assets/plugins/jQuerytransfer/jquery.transfer.js'%}"></script>

        <!-- INTERNAL MULTI JS -->
        <script src="{% static 'assets/plugins/multi/multi.min.js'%}"></script>

        <!-- INTERNAL BOOTSTRAP-DATEPICKER JS -->
        <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>

        <!-- INTERNAL FORM ADVANCED ELEMENT JS -->
        <script src="{% static 'assets/js/formelementadvnced.js'%}"></script>
        <script src="{% static 'assets/js/form-elements.js'%}"></script>
        <script src="{% static 'assets/js/select2.js'%}"></script>

        <!-- INTERNAL MULTIPLE SELECT JS -->
        <script src="{% static 'assets/plugins/multipleselect/multiple-select.js'%}"></script>
        <script src="{% static 'assets/plugins/multipleselect/multi-select.js'%}"></script>

        <!-- THEME COLOR JS -->
        <script src="{% static 'assets/js/themeColors.js'%}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

        <!-- INTERNAL DATA TABLES  -->
        <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/jszip.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/pdfmake/pdfmake.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/pdfmake/vfs_fonts.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.colVis.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
        <script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
        <script src="{% static 'assets/js/datatables.js'%}"></script>
        <script src="{% static 'assets/js/select2.js'%}"></script>
        <script src="{% static 'assets/js/client/client-list.js'%}"></script>


            <script>
             $(document).ready(function () {
                  // Set minimum and maximum time values (8:00 AM and 10:00 PM)
                  var minTime = '08:00';
                  var maxTime = '22:00';
  
                  // Set the min and max attributes for the time inputs
                  $('#starttime, #endtime').attr('min', minTime).attr('max', maxTime);
              });
            </script>
  
            <script>
             $(document).ready(function() {
                  $('#status_filter').change(function() {
                      var selectedDepartment = $(this).val();
  
                      if (selectedDepartment.includes("-")) {
                          var values = selectedDepartment.split('-'); // Splitting at the hyphen to get individual values
                          var firstValue = values[0].trim(); // First value after splitting
                          var secondValue = values[1].trim(); // Second value after splitting
                          
                          $('tbody tr').hide();
                          // Show rows matching either the first or second value
                          $('tbody tr').filter(function() {
                              var status = $(this).find('td:nth-child(5)').text().trim();
                              return status === firstValue || status === secondValue;
                          }).show();
                      } else if (selectedDepartment === 'all') {
                          // Show all rows if 'all' is selected
                          $('tbody tr').show();
                      } else {
                          // Hide all rows
                          $('tbody tr').hide();
                          // Show only rows with the selected status
                          $('tbody tr').filter(function() {
                              return $(this).find('td:nth-child(5)').text().trim() === selectedDepartment;
                          }).show();
                      }
                  });
              });
            </script>
          
            <script>
              $(document).ready(function() {
                   $('#status_filter2').change(function() {
                       var selectedDepartment = $(this).val();
                       if (selectedDepartment === 'all') {
                           // Show all rows if 'all' is selected
                           $('tbody tr').show();
                       } else {
                           // Hide all rows
                           $('tbody tr').hide();
                           // Show only rows with the selected status
                           $('tbody tr').filter(function() {
                               return $(this).find('td:nth-child(6)').text().trim() === selectedDepartment;
                           }).show();
                       }
                   });
               });
            </script>
          
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Initialize flatpickr for date inputs
                    flatpickr('.flatpickr[data-input][data-date]', {
                        dateFormat: "d-m-Y",
                        minDate: "today",
                    });
            
                    // Initialize flatpickr for time inputs
                    flatpickr('.flatpickr[data-input][data-time]', {
                        enableTime: true,
                        noCalendar: true,
                        dateFormat: "H:i",
                    });
                });
                
                $(function() {
                        $(document).ready(function () {
                        var todaysDate = new Date();
                        var year = todaysDate.getFullYear();
                        var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
                        var day = ("0" + todaysDate.getDate()).slice(-2);
                        var maxDate = (year +"-"+ month +"-"+ day);
                        $('.date').attr('min',maxDate);
                        });
                    });
            </script>
  
            <script>
                $(document).ready(function () {
                    flatpickr('.flatpickr', {
                        enableTime: true,
                        noCalendar: true,
                        dateFormat: 'H:i',
                        minTime: '08:00',
                        maxTime: '22:00',
                        onClose: function (selectedDates, dateStr, instance) {
                            if (dateStr < '08:00' || dateStr > '22:00') {
                                instance.clear();
                                $(instance.input).siblings('.error-message-starttime, .error-message-endtime').text('Please select a time between 8 AM and 10 PM');
                            } else {
                                $(instance.input).siblings('.error-message-starttime, .error-message-endtime').text('');
                            }
                        }
                    });
            
            });
            </script>
  
  {% endblock %}
  
