{% extends 'faculty_staff/components/base.html' %}
{% load static %}

    {% block styles %}
	<style>
		#customAlert .modal-content {
		background-color: #F5FBFF;
		}
		#rejectionReasonModal .modal-content {
		  background-color: #F5FBFF;
		}
		#customAlert .modal-content,
		#rejectionReasonModal .modal-content {
		 background-color: #F5FBFF;
		}


	</style>
    {% endblock %}

        {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
						</div>
						<!-- END PAGE HEADER -->

						<!-- model -->

						<div class="modal" tabindex="-1" id="customAlert">
							<div class="modal-dialog">
							  	<div class="modal-content">
									<div class="modal-header">
										<img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										<p>تأكيد</p>
									</div>
									<div class="modal-body">
										<p id="alertMessage">Message goes here</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
										<button type="button" class="btn btn-primary" id="alertConfirm">تأكيد</button>
									</div>
							  	</div>
							</div>
						</div>

						<div id="rejectionReasonModal" class="modal" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										<br><br><p id="alertPlaceholder"></p> 
										<p>الرجاء كتابة سبب الرفض: <span style="color: red;">*</span></p>
										<p style="color: red;">الرجاء التأكد من أن سبب الرفض اكثر من 5 أحرف ولا يحتوي فقط على أرقام.</p>
										<input id="rejectionReasonInput" type="text" class="form-control">
									</div>
									<div class="modal-footer justify-content-end align-items-start">
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
										<button id="rejectionReasonConfirm" type="button" class="btn btn-primary">تأكيد</button>
									</div>
								</div>
							</div>
						</div>
						<!-- end model -->

                        <!-- ROW -->
						<div class="main-proifle" style="box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
							<div class="row">
								
								<div class="col-xl-7">
									<div class="box-widget widget-user">
										<div class="widget-user-image d-sm-flex">
											<div class="ms-sm-4 mt-4">
												<h1 class="pro-user-username mb-3 font-weight-semibold">{{program.Name}}</h1>
												<div class="d-flex mb-2">
													<div class="h5 mb-0 ms-3 mt-1">{{program.CompanyName}}</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-xl-5 col-lg-7">
									<div class="text-xl-end mt-4 mt-xl-0 d-flex justify-content-end">
										{% for flow in programflow %} 
											{% if flow.status == " تم بدء العمل على المشروع " and flow.indicator == 'T' %}
											<a href="{% url 'faculty_staff_account:edit_projectFiles' value_to_edit=program.programid %}" id="editbtn" class="btn btn-primary me-2">تعديل</a>
											<a href="{% url 'faculty_staff_account:groupchat' program_id=program.programid %}" id="roombtn" class="btn btn-primary me-2">مجموعة العمل</a>
											{% endif %}
										{% endfor %}		
										<a href="{% url 'faculty_staff_account:projects' %}" class="btn btn-primary">رجوع</a>
									</div>
									
									
									<div class="mt-5">
										<div class="main-profile-contact-list row">
											<div class="media col-sm-4 p-0" style="margin-right:43px;">
											</div>
											<div class="media col-sm-4 p-0" style="margin-right:30px;">
												<div class="media-icon bg-primary  me-3 mt-1">
													<i class="las la-users fs-20 text-white"></i>
												</div>
												<div class="media-body">
													<span class="text-muted">عدد فريق العمل المطلوب</span>
													<div class="font-weight-semibold fs-25">
														{{program.num_ofTeam}}
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

							<div class="profile-cover">
								<div class="wideget-user-tab">
									<div class="tab-menu-heading p-0">
										<div class="tabs-menu1 px-3">
											<ul class="nav" style="height: 45px;">
												<li><a href="#tab-1" class="active" data-bs-toggle="tab">معلومات المشروع </a></li>
												<li><a href="#tab-2" data-bs-toggle="tab" class="">تفاصيل الحالة </a></li>
												<!-- {% for id_status_date in id_status_dates %}
												{% if id_status_date.status == "في انتظار قبول العضو" %} -->
													{% if id_status_dates %}
													<div class="button-container" style="display: flex; margin-top: -42px; margin-right: 700px;">
														<form method="POST" action="{% url 'faculty_staff_account:accept-project' id_status_date.id %}" id="acceptForm" style="margin-right:8px;">
															{% csrf_token %}
															<input type="hidden" name="update_status" value="accept">
															<button type="button" class="btn btn-outline-info" style="width:180px;" onclick="confirmAcceptance();">قبول الطلب</button>
														</form>
														<form method="POST" action="{% url 'faculty_staff_account:reject_project' id_status_date.id %}" id="rejectionForm" style="margin-right: 5px;">
															{% csrf_token %}
															<input type="hidden" name="update_status" value="reject">
															<button type="button" class="btn btn-outline-danger" id="rejectButton" style="width:180px;" onclick="confirmRejection();">رفض الطلب</button>
															<div class="form-group reject-reason" style="display: none;" id="rejectReasonDiv">
																<label for="rejectionReason">الرجاء كتابة سبب الرفض</label>
																<textarea class="form-control" id="rejectionReason" name="rejectionReason" rows="3"></textarea>
															</div>
														</form>
													</div>
													{% endif %}
												<!-- {% endif %}
											{% endfor %} -->
											
											{% if program.status == 'فتح الفرصة للجميع' and  isfacultyinarray %}
											<form method="POST" action="{% url 'faculty_staff_account:apply_for_project' program.programid %}" id="applyForm" style=" margin-top: -42px; margin-right: 950px;">
												{% csrf_token %}
												<input type="hidden" name="update_status" value="apply">
												<button type="button" class="btn btn-outline-info" onclick="confirmApply();">التقديم على المشروع</button>
											</form>
											{% endif %}
											
											</ul>
										</div>
									</div>
								</div>
							</div>
								
						</div>
                        <!-- END ROW -->

						<!-- ROW -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="border-0">
									<div class="tab-content">

										<!-- order info -->
										<div class="tab-pane active" id="tab-1">
											<div class="card">

												<div class="card-body h5">
													<h4 class="font-weight-semibold">وصف المشروع</h4>
													<div class="main-profile-contact-list d-lg-flex">
														<div class="font-weight-semibold"  style="color:#0084BD;">
														<p>{{program.description}}</p>
														</div>
													</div>
												</div>
												
												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">التاريخ</h4>
													<div class="main-profile-contact-list d-lg-flex">
														<div class="font-weight-semibold"  style="color:#0084BD;">
															<small class="text-muted">من </small>
															<i class="fa fa-calendar pb-3" style="margin-right: 5px;"></i>
															{{program.OfferingDate | date:"d-m-Y"}}
															
															<small class="text-muted">الى </small>
															<i class="fa fa-calendar pb-3" style="margin-right: 5px;"></i>
															 {{program.enddate | date:"d-m-Y"}}
														</div>
													</div>
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">اسم الجهة</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{program.CompanyName}}
													</div>	
												</div>
												
												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">تكلفة المشروع</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{program.totalcost}}ر.س
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">مدة العقد</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{program.contractDuration}}  {{program.durationType}}
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">اخر تاريخ لاستقبال الأسئلة</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{program.QuestionDeadline}}
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold"> تاريخ تسليم المستندات للمعهد </h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{program.ProposalSubmissionDeadline}}
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">الملفات</h4>
													<div class="font-weight-semibold"  style="color:#0084BD;">
														{% if files %}
														{% for file in files %}
															<a href="{% url 'faculty_staff_account:view_projectfile' program.programid file.fileid %}" type="button" class="btn btn-outline-info" target="_blank">الإطلاع على الملف  {{ forloop.counter }}</a>
														{% endfor %}
													{% else %}
														<p>لا يوجد ملف مرفق</p>
													{% endif %}													
													</div>	
												</div>
											</div>
										</div>
										
										<!-- instructors -->
										 
										<!-- order workflow ------------------------------------------------------------------>
										<div class="tab-pane" id="tab-2" style="height: 2100px;">
											<ul class="timelinestart pb-5" >
													
													<!-- 1 -->
													{% for flow in programflow %} 		
														{% if flow.status == "إنشاء المشروع" and flow.indicator == 'T' %}
															<li class="timestart-label"><span class="bg-blue">{{flow.date}}</span></li>
															<li>
																<i class="fa fa-user bg-primary"></i> 
																<div class="timelinestart-item">
																	<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																</div>
															</li>
														{% endif %}
													{% endfor %} 	
													
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 3 -->
													{% for flow in programflow %} 	
														{% if flow.status ==  "تم ارسال الطلب إلى الفريق" %}
															{% if flow.indicator == 'T' %}
															<li>
																<i class="fa fa-ellipsis-h bg-warning"></i> 
																<div class="timelinestart-item">
																	<span class="time">{{flow.date}}</span>
																	<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																	<div class="timelinestart-body">
																		{% for instructor in id_status_dates %} 
																			{% if  instructor.status == "في انتظار قبول العضو"  or  instructor.status == "تم قبول الطلب من قبل العضو" %}
																			<div class="wrapper ms-3">
																				<p class="mb-0 mt-1 text-dark font-weight-semibold">{{instructor.instructor.first_name}} {{instructor.instructor.last_name}} | <small><a href="mailto:{{instructor.instructor.email}}">{{instructor.instructor.email}}</a></small></p>
																			</div>
																			{% endif %}
																		{% endfor %} 
																	</div>
																</div>
															</li>
															{% endif %}
														{% endif %}
													{% endfor %}
													<!-- or -->
													{% for flow in programflow %} 	
														{% if flow.status ==  "فتح الانضمام للمشروع لأعضاء هيئة التدريس " %}
															{% if flow.indicator == 'T' %}
																	<li>
																		<i class="fa fa-ellipsis-h bg-warning"></i> 
																		<div class="timelinestart-item">
																			<span class="time"></span>
																			<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																	</div>
																</li>
															{% endif %}
														{% endif %}
													{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 4  -->
															{% for flow in programflow  %} 
																{% if flow.status == 'تم فرز الطلبات واختيار فريق العمل' and flow.indicator == 'T'  %}
																<li>
																	<i class="fa fa-check-square bg-primary"></i>
																	<div class="timelinestart-item">
																		<span class="time">{{flow.date}}</span>
																		<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																			<div class="timelinestart-body">
																				{% for instructor in program.instructor_names %} 
																					{% if program.programleader == instructor.1 %}
																					<div class="wrapper ms-3">
																						<p class="mb-0 mt-1 text-dark font-weight-semibold"> رئيس الفريق :  {{ instructor.0 }} | <small><a href="mailto:{{ instructor.3 }}">{{ instructor.3 }}</a></small></p>
																					</div>
																					{% endif %}
																				{% endfor %}
																				{% for instructor in program.instructor_names %} 
																					{% if program.programleader != instructor.1 %}
																					<div class="wrapper ms-3">
																						<p class="mb-0 mt-1 text-dark font-weight-semibold">{{ instructor.0 }} | <small><a href="mailto:{{ instructor.3 }}">{{ instructor.3 }}</a></small></p>
																					</div>
																					{% endif %}
																				{% endfor %}
																			</div>
																	</div>
																</li>
																{% endif %} 
															{% endfor %} 
													<!-- or  -->
													{% for flow in programflow %} 
														{% if flow.status == "تم قبول الطلب من قبل جميع الفريق" and flow.indicator == 'T' %}
															<li>
																<i class="fa fa-check-square bg-primary"></i> 
																<div class="timelinestart-item">
																	<span class="time"></span>
																	<h3 class="timelinestart-header"><span>تم قبول الطلب من قبل الفريق</span></h3>
																	<div class="d-flex justify-content-between align-items-center timelinestart-body">
																			<div>
																				{% for instructor in program.instructor_names %} 
																					{% if program.programleader == instructor.1 %}
																					<div class="wrapper ms-3">
																						<p class="mb-0 mt-1 text-dark font-weight-semibold"> رئيس الفريق :  {{ instructor.0 }} | <small><a href="mailto:{{ instructor.3 }}">{{ instructor.3 }}</a></small></p>
																					</div>
																					{% endif %}
																				{% endfor %}
																				{% for instructor in program.instructor_names %} 
																					{% if program.programleader != instructor.1 %}
																					<div class="wrapper ms-3">
																						<p class="mb-0 mt-1 text-dark font-weight-semibold">{{ instructor.0 }} | <small><a href="mailto:{{ instructor.3 }}">{{ instructor.3 }}</a></small></p>
																					</div>
																					{% endif %}
																				{% endfor %}
																			</div>
																	</div>
																</div>
															</li>
														{% endif %}
													{% endfor %}
													<!-------------------------------------------------------------------------------------------------------------->
													<!-- or (room here) -->
													{% for flow in programflow %} 	
														{% if flow.status == " تم بدء العمل على المشروع "  and flow.indicator == 'T' %}
																<li>
																	<i class="fa fa-check-square bg-warning"></i> 
																	<div class="timelinestart-item">
																		<span class="time">{{flow.date}}</span>
																		<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																		<div class="timelinestart-body" >
																			<div class="wrapper ms-3">
																				<p class="mb-0 mt-1 text-dark font-weight-semibold"> تاريخ الانتهاء : {{program.enddate}}</p>
																				<p class="mb-0 mt-1 text-dark font-weight-semibold"> آخر تاريخ لاستلام الأسئلة : {{program.QuestionDeadline}} </p>
																				<p class="mb-0 mt-1 text-dark font-weight-semibold">تاريخ تسليم المشروع للمعهد : {{program.ProposalSubmissionDeadline}} </p>
																				<p class="mb-0 mt-1 text-dark font-weight-semibold">تاريخ تسليم المشروع للجهة : {{program.EtimadDeadline}} </p>
																				<p class="mb-0 mt-1 text-dark font-weight-semibold">تاريخ فتح المظاريف : {{program.EnvelopeOpening}} </p>
																			</div>
																	</div> 
																</li>	
														{% endif %}
													{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 6 -->
														{% for flow in programflow %} 	
															{% if flow.status == "آخر تاريخ لتسليم المشروع للمراجعة من قبل المعهد"  and flow.indicator == 'T' %}
																<li>
																	<i class="fa fa-ellipsis-h bg-warning"></i> 
																	<div class="timelinestart-item">
																		<span class="time">{{flow.date}}</span>
																		<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
																	</div> 
																</li>	
															{% endif %}
														{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 7 -->
														{% if program.status == "تسليم المشروع للمعهد للمراجعة" %}
														<li>
															<i class="fa fa-ellipsis-h bg-warning"></i> 
															<div class="timelinestart-item">
																<span class="time">{{flow.date}}</span>
																<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
															</div> 
														</li>
														{% endif %}					
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 8 -->
													{% for flow in programflow %} 	
														{% if flow.status == "المراجعة من قبل المعهد" and flow.indicator == 'T' %}
														<li>
															<i class="fa fa-chevron-circle-up bg-primary"></i> 
															<div class="timelinestart-item">
																<span class="time">{{flow.date}}</span>
																<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
															</div>
														</li>
														{% endif %}
													{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 9 -->
													{% for flow in programflow %} 	
														{% if flow.status == "التاريخ المتوقع للرد على المشروع" and flow.indicator == 'T' %}
														<li>
															<i class="fa fa-chevron-circle-down bg-primary"></i> 
															<div class="timelinestart-item">
																<span class="time">{{flow.date}}</span>
																<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
															</div>
														</li>
														{% endif %}
													{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 10 -->
													{% for flow in programflow %} 	
														{% if flow.status == "حالة المشروع بعد الرد" and flow.indicator == 'C' %}
														<li>
															<i class="fa fa-check-square bg-primary"></i> 
															<div class="timelinestart-item">
																<span class="time">{{flow.date}}</span>
																<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
															</div>
														</li>
														{% endif %}
													{% endfor %}
													<!-- ------------------------------------------------------------------------------------------------------------>
													<!-- 11 -->
													{% for flow in programflow %} 	
														{% if flow.status == 'إنتهاء البرنامج' and flow.indicator == 'T' %}
														<li>
															<i class="fa fa-check-square bg-success"></i> 
															<div class="timelinestart-item">
																<span class="time">{{flow.date}}</span>
																<h3 class="timelinestart-header"><span>{{flow.status}}</span></h3>
															</div>
														</li>
														{% endif %}
													{% endfor %} 
													<!-- ---------------------------------------------------------------------------------------------------------->
													<li>
														<i class="fa fa-clock-o bg-primary pb-3"></i>
													</li>
											</ul>
										</div>
										
								</div>
							</div>
						</div>
                        <!-- END ROW -->
        {% endblock %}

		
{% block scripts %}
		<!-- INTERNAL TIMEPICKER JS -->
        <script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
		<script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

		<!-- INTERNAL DATEPICKER JS -->
		<script src="{% static 'assets/plugins/date-picker/date-picker.js'%}"></script>
		<script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>
		<script src="{% static 'assets/plugins/input-mask/jquery.maskedinput.js'%}"></script>

		<!-- INTERNAL FILE-UPLOADS JS -->
		<script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js'%}"></script>
        <script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js'%}"></script>

		<!-- INTERNAL FILE-UPLOADS JS -->
        <script src="{% static 'assets/plugins/fileupload/js/dropify.js'%}"></script>
		<script src="{% static 'assets/js/filupload.js'%}"></script>

		<!-- INTERNAL SUMOSELECT JS -->
		<script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js'%}"></script>
        
		<!-- INTERNAL INTLTELINPUT JS -->
		<script src="{% static 'assets/plugins/intl-tel-input-master/intlTelInput.js'%}"></script>
		<script src="{% static 'assets/plugins/intl-tel-input-master/country-select.js'%}"></script>
		<script src="{% static 'assets/plugins/intl-tel-input-master/utils.js'%}"></script>

		<!-- INTERNAL JQUERY TRANSFER JS -->
		<script src="{% static 'assets/plugins/jQuerytransfer/jquery.transfer.js'%}"></script>

		<!-- INTERNAL MULTI JS -->
		<script src="{% static 'assets/plugins/multi/multi.min.js'%}"></script>

		<!-- INTERNAL BOOTSTRAP-DATEPICKER JS -->
		<script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>

		<!-- INTERNAL FORM ADVANCED ELEMENT JS -->
		<script src="{% static 'assets/js/formelementadvnced.js'%}"></script>
		<script src="{% static 'assets/js/form-elements.js'%}"></script>
		<script src="{% static 'assets/js/select2.js'%}"></script>

		<!-- INTERNAL MULTIPLE SELECT JS -->
		<script src="{% static 'assets/plugins/multipleselect/multiple-select.js'%}"></script>
		<script src="{% static 'assets/plugins/multipleselect/multi-select.js'%}"></script>

        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

          <!-- INTERNAL DATA TABLES  -->
          <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
          <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
          <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
          <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
          <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
          <script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
          <script src="{% static 'assets/js/datatables.js'%}"></script>
          <script src="{% static 'assets/js/client/client-list.js'%}"></script>
		<!-- Include Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">

		<!-- Include Bootstrap Bundle with Popper (required for modals) -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
		
<script>
			// Define the customAlert function
			function customAlert(message) {
				// Update the alert message
				$('#alertMessage').text(message);
				// Show the custom alert modal
				$('#customAlert').modal('show');
			}
			
			function confirmRejection() {
				$('#rejectionReasonModal').modal('show');
			}
			
			// Event listener for the confirm button in the custom alert modal
			$('#alertConfirm').on('click', function() {
				$('#customAlert').modal('hide');
			});
			
			// Event listener for the confirm button of the rejection reason modal
			$('#rejectionReasonConfirm').on('click', function() {
				var rejectionReason = $('#rejectionReasonInput').val();
				if (rejectionReason.length > 5 && isNaN(rejectionReason)) {
					$('#rejectionReasonModal').modal('hide');
					document.getElementById('rejectionReason').value = rejectionReason;
					document.getElementById('rejectionForm').submit();
				}
			});
</script>

<script>
			function customAlert(message, callback) {
				console.log('customAlert called with message:', message);
				$('#alertMessage').text(message);
				$('#customAlert').modal('show');
			
				// bind a one-time event listener to the confirm button
				$('#alertConfirm').one('click', function() {
					console.log('confirm button clicked');
					$('#customAlert').modal('hide');
					callback(true);
				});
			}
			
			// Define the confirmAcceptance function
			window.confirmAcceptance = function() {
				customAlert('هل انت متاكد من قبول الطلب وما يترتب عليه من التزامات للمشاركة في البرنامج؟', function(confirmed) {
					if (confirmed) {
						console.log('confirmed, submitting acceptForm');
						$('#acceptForm').submit();  // submit the form
					}
				});
			}
			
			// Define the confirmApply function
			window.confirmApply = function() {
				customAlert('هل أنت متأكد من التقديم على البرنامج وقبول ما يترتب عليه من التزامات للمشاركة في البرنامج في حال أخترت في فريق البرنامج؟', function(confirmed) {
					if (confirmed) {
						console.log('confirmed, submitting applyForm');
						$('#applyForm').submit();  // submit the form
					}
				});
			}
</script>

{% endblock %}