{% extends 'dean/components/base.html' %}

{% load static %}

    {% block content %}
	<style>
		.error {
  border: 1px solid red;
}
.is-invalid {
    border: 1px solid red;
}

	</style>
                        <!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
                            <div class="page-leftheader">
                                <div class="page-title">Editprofile</div>
                            </div>
                            <div class="page-rightheader ms-md-auto">
                            </div>
                        </div>
                        <!-- END PAGE HEADER -->
                        
                        <!-- ROW -->
                        <div class="row">
                            <div class="col-xl-4 col-lg-5" >
                                <div class="card" style="width: 350px; margin-left: 40px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;" >
                                    <div class="card-header border-bottom-0">       
                                        <div class="card-title">Academic Information</div>
                                    </div>

                                    <div class="card-body" >
                                        <div id="form2-container">
                                            <form method="post" enctype="multipart/form-data"  name="form2">
                                                {% csrf_token %}
                                                {% if messages %}
                                                    <ul class="messages" class="error-message"style="color: red;">
                                                        {% for message in messages %}
                                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}
                                                <label>{{ form2.previouswork.label_tag }}</label>
                                                <div class="input-group">
                                                    {{ form2.previouswork }}
                                                    <button type="submit" id="add-previouswork" name="form_type" value="form2" class="btn btn-primary add-previouswork"><span class="fe fe-check"></span></button>
                                                </div>
    
                                            
                                                {% for ri in user.previouswork %}
                                                    <div class="d-flex align-items-center">
                                                        <a class="btn btn-sm btn-white mt-1 remove-previouswork" data-value="{{ ri }}" href="{% url 'dean_account:delete_previouswork' value_to_delete=ri %}">{{ ri|title }} <span class="fe fe-x"></span></a>
                                                    </div>
                                                {% empty %}
                                                    <a class="btn btn-sm btn-white mt-1">None</a>
                                                {% endfor %}
                                                <br>
                                                <br>
                                            
                                                <label>{{ form2.researchinterest.label_tag }}</label>
                                                <div class="input-group">
                                                    {{ form2.researchinterest }}
                                                    <button type="submit" id="add-researchinterest"  name="form_type" value="form2" class="btn btn-primary add-researchinterest"><span class="fe fe-check"></span></button>
                                                </div>
                                                
                                            
                                                {% for ri in user.researchinterest %}
                                                    <div class="d-flex align-items-center">
                                                        <a class="btn btn-sm btn-white mt-1 remove-researchinterest" data-value="{{ ri }}" href="{% url 'dean_account:delete_researchinterest' value_to_delete=ri %}">{{ ri|title }} <span class="fe fe-x"></span></a>
                                                    </div>
                                                {% empty %}
                                                    <a class="btn btn-sm btn-white mt-1">None</a>
                                                {% endfor %}
                                                <br>
                                            </form>
                                        </div>
                                
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-7">
                                <div class="card"  style="width: 600px; margin-left: 50px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
                                    <div class="card-body">
                                        <div class="card-title">Personal Information:</div>
                                        <div class="row">
                                          
                                            
                                            <form method="post" enctype="multipart/form-data" id="form1" name="form1">
												{% csrf_token %}
												<label>{{ form.phonenumber.label_tag }} <span style="color: red;">*</span></label>
												{{ form.phonenumber }}
												{% if form.phonenumber.errors %}
													{% for error in form.phonenumber.errors %}
														<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>
												{{ form.iban.label_tag }} {{ form.iban }}
												{% if form.iban.errors %}
													{% for error in form.iban.errors %}
														<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>
												{{ form.specialization.label_tag }}
												{{ form.specialization }}
												{% if form.specialization.errors %}
													{% for error in form.specialization.errors %}
														<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>
												{{ form.officeno.label_tag }} {{ form.officeno }}
												{% if form.officeno.errors %}
													{% for error in form.officeno.errors %}
														<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>
												<br>
												{{ form.cv.label_tag }} {{ form.cv }}
												{% if form.cv.errors %}
													{% for error in form.cv.errors %}
														<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>
												<div class="card-footer text-center">
													<button type="submit" value="form1" name="form_type" class="btn btn-lg btn-primary">Update</button>
													<a href="{% url 'dean_account:profile' %}" class="btn btn-lg btn-danger">Cancel</a>
												</div>
											</form>
											
                                        </div>
                                    </div>                                          
                                </div>
                            </div>
                        </div>
                        <!-- END ROW -->
    {% endblock %}

    
    {% block scripts %}
        <!-- THEME COLOR JS -->
        <script src="{% static 'assets/js/themeColors.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
        {% if success %}
			<script>
			alert('Information Updated Successfully.');
			window.location.href = "{% url 'dean_account:profile' %}";  // Redirect after alert
			</script>
		{% endif %}
        <script>


		  $(document).ready(function() {
			// Phone number validation
			// Phone number validation
$('input[name="phonenumber"]').on('blur', function() {
  var phoneNumber = $(this).val();
  var phoneRegex = /^05\d{8}$/; // Adjusted the regex to make sure the phone number starts with '05' and is 10 digits long
  if (!phoneRegex.test(phoneNumber)) {
    $(this).addClass('is-invalid');
    $(this).siblings('.error-message').text('Invalid Phone Number. It should start with 05 and be 10 digits long.');
  } else {
    $(this).removeClass('is-invalid');
    $(this).siblings('.error-message').text('');
  }
});
		  
			// IBAN validation
			$('input[name="iban"]').on('blur', function() {
  var iban = $(this).val();
  var ibanRegex = /^SA\d{22}$/; // Adjusted the regex to make sure the IBAN starts with 'SA' and is 24 digits long
  if (iban != "" && !ibanRegex.test(iban)) { // Added condition to allow empty IBAN
    $(this).addClass('is-invalid');
    $(this).siblings('.error-message').text('Invalid IBAN. It should start with SA and be 24 digits long.');
  } else {
    $(this).removeClass('is-invalid');
    $(this).siblings('.error-message').text('');
  }
});
		  
			// Specialization validation
			// Specialization validation
			$('input[name="specialization"]').on('blur', function() {
  var specialization = $(this).val();
  var specialCharRegex = /[^a-zA-Z\s]/; // Regex to check for non-alphabetical and non-space characters

  // Added conditions to check the length and presence of special characters or digits
  if ((specialization != '' && specialization.length < 5) || specialCharRegex.test(specialization)) { 
    $(this).addClass('is-invalid');
    $(this).siblings('.error-message').text('Invalid Specialization. It should be at least 5 characters long and should not contain digits or special characters.');
  } else {
    $(this).removeClass('is-invalid');
    $(this).siblings('.error-message').text('');
  }
});
			// Office number validation
			
		  
			// CV file validation
			$('input[name="cv"]').on('change', function() {
  var cvFile = $(this).val();
  var label = $('label[for="' + this.id + '"]');
  if (cvFile) { // checks if a file has been selected
    var fileExtension = cvFile.split('.').pop().toLowerCase();
    if(fileExtension != 'pdf') { // only 'pdf' is allowed
      $(this).addClass('is-invalid');
      $(this).siblings('.error-message').text('Invalid file type. Only .pdf files are allowed.');
      label.css('color', 'red');
    } else {
      $(this).removeClass('is-invalid');
      $(this).siblings('.error-message').text('');
      label.css('color', '');
    }
  } else {
    $(this).removeClass('is-invalid');
    $(this).siblings('.error-message').text('');
    label.css('color', '');
  }
});


$('#form1').on('submit', function(e) {
  // ... [your code to get form field values and set up validation rules]

  var isPhoneNumberValid = phoneRegex.test(phoneNumber);
  var isIbanValid = (iban == "" || ibanRegex.test(iban));
  var isSpecializationValid = (specialization == '' || (specialization.length >= 5 && !specialCharRegex.test(specialization)));
  var isOfficeNoValid = officeNoRegex.test(officeno);
  var isCvFileTypeValid = ($.inArray(cvFileType, allowedFileTypes) != -1);

  console.log('phoneNumber:', phoneNumber, 'Matches regex:', isPhoneNumberValid);
  console.log('iban:', iban, 'Matches regex:', isIbanValid);
  console.log('specialization:', specialization, 'Length >= 5:', specialization.length >= 5, 'Does not contain special chars:', !specialCharRegex.test(specialization));
  console.log('officeno:', officeno, 'Matches regex:', isOfficeNoValid);
  console.log('cvFileType:', cvFileType, 'Is allowed:', isCvFileTypeValid);

  if (!isPhoneNumberValid || !isIbanValid || !isSpecializationValid || !isOfficeNoValid || !isCvFileTypeValid) {
    e.preventDefault();
    alert('Please fill in all the fields correctly');

    // If CV file type is invalid, change color of label to red
    if (!isCvFileTypeValid) {
      cvFileLabel.css('color', 'red');
    }
  }
});
		  
	

		  });
		  </script>
		 <script>
			$(document).ready(function() {
				setTimeout(function() {
					$('.alert').fadeOut('slow');
				}, 30000); // <-- time in milliseconds, 30000 ms = 0.5 min
			});
			</script>

    {% endblock %}