{% extends 'kai/components/base.html' %}
{% load static %}

    {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">Change Password</div>
							</div>
							<div class="page-rightheader ms-md-auto">
							</div>
						</div>
						<!-- END PAGE HEADER -->
						
						<!-- ROW -->
						<div class="row">
							<div class="col-xl-8 col-lg-7">
								<div class="card"  style="width: 450px; margin-left: 390px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
									<div class="card-body">
										<div class="card-title"></div>
										<div class="row">
											<form method="post" enctype="multipart/form-data" name="form_type" value="form2">
                                                {% csrf_token %}
												<span class="error-message" style="color: red;">{{ form.non_field_errors }}</span> 
                                                
																						
														<div class="form-group">
															<label class="form-label">Current Password</label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.current_password }}
																	<span class="error-message" style="color: red;"></span>
																</div>
															</div> 
														</div>
													

														<div class="form-group">
															<label class="form-label">New Password</label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.new_password }}
																	<span class="error-message" style="color: red;"></span>
																</div> 
															</div> 
														</div>
																
														<div class="form-group">
															<label class="form-label">Confirm New Password</label>
															<div class="input-group mb-4">
																<div class="input-group" id="Password-toggle">
																	<a href="" class="input-group-text">
																		<i class="fe fe-eye-off" aria-hidden="true"></i>
																	</a>
																	{{ form.confirm_password }}
																	<span class="error-message" style="color: red;"></span>	
																</div> 
															</div> 
														</div>
														
												<div class="card-footer text-center">
                                                    <button  type="submit" class="btn btn-lg btn-primary">Updated</button>
                                                    <a href="{% url 'head-kai-account:profile' %}"class="btn btn-lg btn-danger">Cancel</a>
                                                </div>
                                            
													<!-- </div> -->
											</form> 
										</div>
									</div>
								</div>											
							</div>
						</div>
							<div class="card"  style="width: 450px; margin-left: 390px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
								<div class="card-body">
									<div class="card-title"></div>
									<div class="row">
										<label class="form-label text-center" style="font-size: 20px;"> Instructions</label>
										<P> Please enter your current password and the new password should contain the following: </P>
										<ol style="margin-left: 16px;">
											<li>Should be at least 8 characters long.</li>
											<li>Have at least one capital letter.</li>
											<li>have at least one small letter.</li>
											<li>Have at least one digit.</li>
											<li>Have at least one special character ( @, $, !, %, *, ?, & ).</li>
										</ol>
									</div>
								</div>
							</div>
						</div>
						<!-- END ROW -->
						<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
						{% if success %}
						<script>
						alert('Password Changed Successfully.');
						window.location.href = "{% url 'head-kai-account:profile' %}";  // Redirect after alert
						</script>
						{% endif %}
						<script>
							$(document).ready(function() {
							// Current Password validation
							$('input[name="current_password"]').on('blur', function() {
								var currentPassword = $(this).val();
								if (currentPassword.length < 8) {
								$(this).addClass('is-invalid');
								$(this).siblings('.error-message').text('Current Password should be at least 8 characters long');
								} else {
								$(this).removeClass('is-invalid');
								$(this).siblings('.error-message').text('');
								}
							});

							// New Password validation
							$('input[name="new_password"]').on('blur', function() {
								var newPassword = $(this).val();
								var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
								if (!passwordRegex.test(newPassword)) {
								$(this).addClass('is-invalid');
								$(this).siblings('.error-message').text('New Password should be at least 8 characters long, have at least one capital letter, one small letter, one digit, and one special character');
								} else {
								$(this).removeClass('is-invalid');
								$(this).siblings('.error-message').text('');
								}
							});

							// Confirm Password validation
							$('input[name="confirm_password"]').on('blur', function() {
								var newPassword = $('input[name="new_password"]').val();
								var confirmPassword = $(this).val();
								if (newPassword !== confirmPassword) {
								$(this).addClass('is-invalid');
								$(this).siblings('.error-message').text('Confirm Password should match New Password');
								} else {
								$(this).removeClass('is-invalid');
								$(this).siblings('.error-message').text('');
								}
							});

						
							});

							</script>
								<script>
									$(document).ready(function() {
								$("#toggle-password-current").click(function() {
									togglePasswordVisibility($(this), $(this).parent().parent().next());
								});

								$("#toggle-password-new").click(function() {
									togglePasswordVisibility($(this), $(this).parent().parent().next());
								});

								$("#toggle-password-confirm").click(function() {
									togglePasswordVisibility($(this), $(this).parent().parent().next());
								});
							});

							function togglePasswordVisibility(eyeIcon, inputField) {
								eyeIcon.toggleClass("fa-eye fa-eye-slash");
								if (inputField.attr("type") === "password") {
									inputField.attr("type", "text");
								} else {
									inputField.attr("type", "password");
								}
							}
								</script>
								<script>
									$(document).ready(function() {
										setTimeout(function() {
											$('.alert').fadeOut('slow');
										}, 30000); // <-- time in milliseconds, 30000 ms = 0.5 min
									});
									</script> 
		{% endblock %}

	
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
		{% if success %}
		<script>
		alert('Password Changed Successfully.');
		window.location.href = "{% url 'faculty_staff_account:profile' %}";  // Redirect after alert
		</script>
		{% endif %}
	{% endblock %}