{% extends 'kai/components/base.html' %}
{% load static %}

    {% block content %}
	<style>
		.error {
      border: 1px solid red;
    }
    .is-invalid {
        border: 1px solid red;
    }
	</style>
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<div class="page-title">تحديث المعلومات الشخصية</div>
							</div>
							<div class="page-rightheader ms-md-auto">
							</div>
						</div>
						<!-- END PAGE HEADER -->
						<!-- ROW -->
						<div class="row">
						
							<div class="col-xl-8 col-lg-7">
								<div class="card"  style="width: 600px; margin-left: 50px; box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
									<div class="card-body">
										<div class="card-title">تحديث رقم الهاتف المحمول</div>
										<div class="row">
											<form method="post" enctype="multipart/form-data"  name="form1">
												{% csrf_token %}

												
												<label>{{ form.phonenumber.label_tag }} <span style="color: red;">*</span></label>
												{{ form.phonenumber }}
												{% if form.phonenumber.errors %}
													{% for error in form.phonenumber.errors %}
													<p style="color: red;" class="error-message">{{ error }}</p>
													{% endfor %}
												{% endif %}
												<br>

											
												<div class="card-footer text-center">
													<button type="submit" value="form1" name="form_type" class="btn btn-lg btn-primary">تحديث</button>
													<a href="{% url 'head-kai-account:profile' %}" class="btn btn-lg btn-danger">رجوع</a>
												</div>
											</form>
											
										</div>
									</div>											
								</div>
							</div>
						</div>
						<!-- END ROW -->
    {% endblock %}

	
    {% block scripts %}
        <!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{% if success %}
			<script>
			alert('تم تحديث رقم الهاتف المحمول بنجاح.');
			window.location.href = "{% url 'head-kai-account:profile' %}";  
			</script>
		{% endif %}
	
	{% endblock %}