{% extends 'kai/components/Home-base.html' %}
{% load static %}
    {% block styles %}
    {% endblock %}
        {% block content %}
							<!-- PAGE-HEADER -->
							<div class="page-header d-xl-flex d-block">
								<div class="page-leftheader">
									<div class="page-title"><span class="font-weight-normal text-muted ms-2">لوحة القيادة</span></div>
								</div>
								<div class="page-rightheader ms-md-auto">
									<div class="d-flex align-items-end flex-wrap my-auto end-content breadcrumb-end">
										<div class="d-flex">
											
											<div class="header-datepicker me-3">
												<div class="input-group" style="width: 200px;">
													<div class="input-group-prepend">
														<div class="input-group-text" >
															<i class="feather feather-calendar"></i>
														</div>
													</div>
													<p id="date" class="form-control fc-datepicker"></p>
												</div>
											</div>
											
											<div class="header-datepicker me-3" style="border-radius:20px;">
												<div class="input-group" style="width: 140px;">
													<div class="input-group-prepend">
														<div class="input-group-text">
															<i class="feather feather-clock"></i>
														</div>
													</div>
													<p  type="text" id="time" class="form-control input-small" ></p>
												</div>
											</div> 

										</div>
									</div>
								</div>
							</div>
							<!-- PAGE-HEADER END -->

							<!-- ROW -->

							<div class="row">
							
								<div class="card" style=" width:690px; height: 1360px; box-shadow:1px 1px 2px 1px #0084BD; margin-right: 30px; box-shadow: inset; background-color: aliceblue;">
									<div class="card-header border-0">
										<h4 class="card-title">الأرباح</h4>
									</div>
											<div class="card-body">
												{% for data in collage_data %}
												<h4>{{ data.collage.name }}</h4>
												<p>{{ data.project_count }}  عدد المشاريع المنفذة</p>
												<p>{{ data.revenue_per_year_p }}  الارباح من المشاريع</p>
												<p>{{ data.program_count }}  عدد البرامج التدريبية المنفذة</p>
												<p>{{ data.revenue_per_year_t }}  الارباح من البرامج التدريبية</p>
											{% endfor %}
											</div>
										</div>
							
							<div class="col-xl-4 col-md-12 col-lg-6">
								<div class="card" style="margin-right:30px; width:320px; height:700px; box-shadow: inset;box-shadow:1px 1px 2px 1px #0084BD; background-color: aliceblue;">
									<div class="card-header border-0">
										<h4 class="card-title">نسبة الأرباح</h4>
									</div>
									<div class="card-body">
										<canvas id="pie-chart" width="220" height="250"></canvas>
										<br><br>
										<div class="chart-widget-list" id="widget-label">
											{% for data in collage_data %}
											<p>
												<span class="legend-text">{{ data.collage.name }}  {{data.allRevenue}}</span>
											</p>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>
							
								
							<!-- END ROW -->
        {% endblock %}

		
    {% block scripts %}
		<!-- INTERNAL PEITY CHART JS -->
		<script src="{% static 'assets/plugins/peitychart/jquery.peity.min.js'%}"></script>
		<script src="{% static 'assets/plugins/peitychart/peitychart.init.js'%}"></script>

		<!-- INTERNAL APEXCHART JS -->
		<script src="{% static 'assets/plugins/apexchart/apexcharts.js'%}"></script>

		<!-- INTERNAL VERTICAL-SCROLL JS -->
		<script src="{% static 'assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js'%}"></script>
		<script src="{% static 'assets/plugins/vertical-scroll/vertical-scroll.js'%}"></script>

		<!-- INTERNAL  DATEPICKER JS -->
		<script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>

		<!-- INTERNAL CHART JS-->
		<script src="{% static 'assets/plugins/chart/chart.bundle.js'%}"></script>
		<script src="{% static 'assets/plugins/chart/utils.js'%}"></script>

		<!-- INTERNAL TIMEPICKER JS-->
		<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
		<script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

		<!-- INTERNAL CHARTJS ROUNDED-BARCHART JS-->
		<script src="{% static 'assets/plugins/chart.min/chart.min.js'%}"></script>
		<script src="{% static 'assets/plugins/chart.min/rounded-barchart.js'%}"></script>

		<!-- INTERNAL jQUERY-COUNTDOWNTIMER JS -->
		<script src="{% static 'assets/plugins/jQuery-countdowntimer/jQuery.countdownTimer.js'%}"></script>

		<!-- INTERNAL INDEX JS-->
		<script src="{% static 'assets/js/index1.js'%}"></script>

		<!-- THEME COLOR JS -->
		<script src="{% static 'assets/js/themeColors.js'%}"></script>
		<script>
			const d = new Date();
			const dateOptions = { year: 'numeric', month: 'long', day: 'numeric', localeMatcher: 'best fit', weekday: 'long', era: 'short' };
			const timeOptions = { hour: '2-digit', minute: '2-digit' };
	
			document.getElementById("date").innerHTML = d.toLocaleDateString('ar', dateOptions);
			document.getElementById("time").innerHTML = d.toLocaleTimeString('ar', timeOptions);
		</script>

<script>
    // Initialize arrays to store data
    var allRevenues = [];
    var collageNames = [];

    // Iterate through each collage data
    "{% for data in collage_data %}"
        allRevenues.push('{{ data.allRevenue }}');
        collageNames.push('{{ data.collage.name }}');
    "{% endfor %}"

    // Get the canvas context
    var ctx = document.getElementById('pie-chart').getContext('2d');

    // Create the doughnut chart
    var revenuePieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: allRevenues,
                backgroundColor: ["#5969ff",
						"#ff407b",
						"#FFC940",
						"#6EF983",
						"#67434E",
						"#0A2148",
						"#BB6BF9",],
            }],
            labels: collageNames
        },
        options: {}
    });
</script>

    {% endblock %}