{% extends 'kai/components/base.html' %}
{% load static %}
{% load custom_filters %}

{% block styles %}

{% endblock %}

        {% block content %}
						<!-- PAGE HEADER -->
                        <div class="page-header d-lg-flex d-block" style="margin-top: -30px;">
						</div>
						<!-- END PAGE HEADER -->


					<!-- alerts -->

						<!--rejectionAlart -->
						  	<div class="modal" tabindex="-1" id="rejectionAlert">
							<div class="modal-dialog">
								 <div class="modal-content">
									<div class="modal-header">
										 <img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										 <p>تأكيد</p>
									</div>
									<form method="post" action="{% url 'head-kai-account:reject_task' task_id=givenTask.task_id %}" onsubmit="return reject_taskvalidateForm();">
										{% csrf_token %}
										<div class="modal-body">
											 <p id="alertMessage">الرجاء كتابة سبب رفض المهمة</p>
											 <textarea class="form-control" rows="4" cols="50" placeholder="أسباب الرفض" name="rejection_reasons"></textarea>
											 <span class="error-message-rejection_reasons" style="color: red;"></span>
										</div>
										<div class="modal-footer">
											 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
											 <button type="submit" class="btn btn-primary" id="alertConfirm">تأكيد</button>
										</div>
									</form>
								 </div>
							</div>
							</div>
						<!-- end of rejectionAlart -->

						<!--custome alert  -->
						  <div class="modal" tabindex="-1" id="customAlert">
							<div class="modal-dialog">
							 	<div class="modal-content">
									<div class="modal-header">
										<img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										<p>تأكيد</p>
									</div>
									<div class="modal-body">
										<p id="alertMessage">Message goes here</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
										<button type="button" class="btn btn-primary" id="alertConfirm">تأكيد</button>
									</div>
							  	</div>
							</div>
						  </div>
						
						<!--Task completion alert-->
						  	<div class="modal" tabindex="-1" id="TaskCompletion12">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<img src="{% static 'assets/images/brand/logowithname.png' %}" class="img-fluid" style="max-width: 100px; float: right;">
										<p>تأكيد</p>
									</div>
									<div class="modal-body">
										{% if not_completed_subtasks_count > 0 %}
											<p id="alertMessageT3">هناك مهام فرعية غير منجزة مرتبطة بهذه المهمة. لا يمكن إكمال هذه المهمة حتى يتم استرجاع المهمة الفرعية من قبل المنشئ أو إكمال المهمة من قبل المسند إليه/إليهم.</p>
											<p>المهام الفرعية الغير منجزة هي:</p>
											{% for task in NotCompletedSubTasks %}
												<div class="form-group">
													<label class="form-label">إسم المهمة</label>
													{{ task.task_name }}
												</div>
												<div class="form-group">
													<label class="form-label">منشأة من قبل</label>
													{{ task.faculty_initiationk.first_name }} {{ task.faculty_initiationk.last_name }}
													{{ task.kai_initiationk.first_name }} {{ task.kai_initiationk.last_name }}
												</div>
											{% endfor %}
										{% else %}
											<p id="alertMessageT2">في حال كانت إجابتك نعم الرجاء رفع او كتابة خطاب الإنجاز </p>
											<form method="post" action="{% url 'head-kai-account:Task_completion' task_id=givenTask.task_id %}" >
												{% csrf_token %}
												<div class="form-group">
													<label class="form-label">خطاب المهمة<span style="color: red;">*</span></label>
													<textarea class="form-control" rows="4" cols="105" placeholder="خطاب المهمة" name="Task_completion_description" ></textarea>
													<span class="error-message-Task_completion_description" style="color: red;"></span>
												</div>
												<div class="form-group">
													<label class="form-label">ارفاق خطاب المهمة<small style="color: red;">.pdf, .pptx, .doc, .docx, .xlsx</small></label>
													<input class="form-control" type="file" name="attachment_Task_completion" accept=".pdf, .pptx, .doc, .docx, .xlsx" multiple>
													<span class="error-message-attachment_Task_completion" style="color: red;"></span>
													<div id="fileList" class="file-list"></div>
												</div>
												<!-- Repeat the attachment input if needed or remove duplicate -->
												<div class="form-group">
													<label class="form-label">ارفاق ملفات أخرى<small style="color: red;">.pdf, .pptx, .doc, .docx, .xlsx</small></label>
													<input class="form-control" type="file" name="other_attachment_Task_completion" accept=".pdf, .pptx, .doc, .docx, .xlsx" multiple>
													<span class="error-message-other_attachment_Task_completion" style="color: red;"></span>
													<div id="otherFilesList" class="file-list"></div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
													<button type="submit" class="btn btn-primary" id="alertConfirm1">تأكيد</button>
												</div>
											</form>
										{% endif %}
									</div>
								</div>
							</div>
							</div>
						<!--Task completion alert-->
						   
						<!--Reassigning  alert-->
						   	<div class="modal" tabindex="-1" id="Reassigning">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<img src="{% static 'assets/images/brand/logowithname.png' %}" class="img-fluid" style="max-width: 100px; float: right;">
											<p>تأكيد</p>
										</div>
										<div class="modal-body">
											<span id="error-message" style="display: none; color: red; text-align: center;">الرجاء اسناد المهمة او الضغط على عدم اسناد المهمة</span>
											{% for rejection in recent_rejected_tasks %}
												<p>رفض من قبل:</p>
												<p> {{ rejection.faculty_user.first_name }} {{ rejection.faculty_user.last_name }}</p>
												<p> {{ rejection.kai_user.first_name }} {{ rejection.kai_user.last_name }}</p>
												<p> اسباب الرفض:{{ rejection.addedtext }}</p>
											{% endfor %}
											<form method="post" action="{% url 'head-kai-account:send_to_new_Instructor' task_id=givenTask.task_id %}" id="reassignForm">
												{% csrf_token %}
													
												<div class="form-group">
													<label class="form-label">إسناد المهمة إلى <span style="color: red;">*</span></label>
													<select class="form-control select2"  id="mySelect2" name="assiningto2" data-placeholder= "إسناد المهمة إلى " multiple >
																										
														{% for person in departmenthead %}
														<option value="a.{{ person.id }}">
															{{ person.first_name }} {{ person.last_name }} | {{ person.position }}  للبحوث والدراسات الإستشارية 
														</option>
														{% endfor %}
												
														{% for person in allKaistaff %}
														<option value="a.{{ person.id }}">
															{{ person.first_name }} {{ person.last_name }} | {{ person.position }}  للبحوث والدراسات الإستشارية 
														</option>
														{% endfor %}
							
														{% for head in otherCollagesBUHeads %}
															{% for collage in allCollages %}
																{% if head.collageid.collageid == collage.collageid %}
																	<option value="c.{{ head.id }}">
																		{{head.first_name }} {{ head.last_name }} |  رئيس وحدة الأعمال  {{ collage.name }} 
																	</option>
																{% endif %}
															{% endfor %}
														{% endfor %}
													</select> 
													<span class="error-message-assiningto" style="color: red;"></span><br>
												</div>
							
												<div class="form-group">
													<label class="form-label">عدم اسناد المهمة</label>
													<input type="checkbox" name="no-assignment" id="no-assignment">
													{% if givenTask.status == 'مرفوضة' %}
														<span style="color: red;">تم رفض هذه المهمة من قبل جميع الأشخاص الذين أُسندت إليهم. في حالة عدم تعيين شخص آخر لها، سيتم استرجاع المهمة.</span>
													{% endif %}
												</div>
												
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
													<button type="submit" class="btn btn-primary" >تأكيد</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						<!-- end of Reassigning  alert-->
						
						<!--pending request alert-->
						<div class="modal" tabindex="-1" id="pendingRequest">
							<div class="modal-dialog">
								 <div class="modal-content">
									<div class="modal-header">
										 <img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										 <p>تأكيد</p>
									</div>
									<form method="post" action="{% url 'head-kai-account:ask_for_pending' task_id=givenTask.task_id %}" onsubmit="return ask_for_pendingvalidateForm();">
										{% csrf_token %}
										<div class="modal-body">
											 <p id="alertMessagePending">الرجاء كتابة أسبب طلب تعليق المهمة</p>
											 <textarea class="form-control" rows="4" cols="50" placeholder="أسباب طلب التعليق" name="pending_reasons" id="pending_reasons_textarea"></textarea>
											 <span class="error-message-pending_reasons" style="color: red;"></span>
										</div>

										<div class="modal-footer">
											 <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إلغاء</button>
											 <button type="submit" class="btn btn-primary" id="alertConfirmPending">تأكيد</button>
										</div>
									</form>
								 </div>
							</div>
						</div>
						<!--end of pending request alert-->

						<!-- pendingReview alert-->
						<div class="modal" tabindex="-1" id="pendingReview">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										 <img src="{% static 'assets/images/brand/logowithname.png'%}" class="img-fluid" style="max-width: 100px; float: right;">
										 <p>تأكيد</p>
									</div>
								    <div class="modal-body">
										{% for name, reason in zipped_names_reasons %}
											<div style="display: flex; flex-wrap: wrap; align-items: baseline; margin-bottom: 10px;">
												<h5 style="margin-right: 5px; white-space: nowrap;">من قبل:</h4>
												<p style="margin-right: 15px;">{{ name }}</p>
											</div>
											<div style="display: flex; flex-wrap: wrap; align-items: baseline; margin-bottom: 10px;">
												<h5 style="margin-right: 5px; white-space: nowrap;">اسباب التعليق:</h5>
												<p style="margin-right: 15px;">{{ reason }}</p>
											</div>
										{% endfor %}
									</div>
									<div class="modal-footer">
										<form method="post" action="{% url 'head-kai-account:reject_pending_request' task_id=givenTask.task_id %}">
											{% csrf_token %}
											<button type="submit" class="btn btn-danger" id="rejectPending">رفض طلب التعليق</button>
										</form>
										<form method="post" action="{% url 'head-kai-account:accepte_pending_request' task_id=givenTask.task_id %}">
											{% csrf_token %}
											<button type="submit" class="btn btn-primary" id="alertConfirmPending">قبول طلب التعليق</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!--end of pendingReview alert-->

					<!-- End of custome alert  -->

                         <!--Start the top card with action buttons and summery info Task priority, task type, task requierd procedure-->
                        <!-- ROW -->
						<div class="main-proifle" style="box-shadow:1px 1px 2px 1px #0084BD; background-color: #F5FBFF;">
							<div class="row">
								
								<div class="col-xl-5 col-lg-7" style="margin-right: 650px;">
									<div class="text-xl-end mt-4 mt-xl-0 d-flex justify-content-end">

										{% if givenTask.kai_initiation != user%}
											{% if givenTask.status == 'مسندة' or givenTask.status == 'تم الرفض من قبل البعض' or givenTask.status == 'منجزة جزئياً، مرفوضة من البعض' or givenTask.status == 'منجزة جزئياً' %}
									
											<a href="" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#TaskCompletion12" > إنجاز المهمة</a>

											<a href="" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#pendingRequest" style="margin-left: auto;"> تعليق المهمة</a>

											<a href="" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#rejectionAlert">رفض المهمة</a>

											<a href="" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#newprojectmodal"><i class="feather feather-plus fs-15 my-auto me-2"></i>طلب إنشاء مهمة فرعية</a>	
											{% endif %}
										{% endif %}
											
						                {% if givenTask.kai_initiation == user %}
										<a href="{% url 'head-kai-account:editTask' task_id=givenTask.task_id %}" class="btn btn-primary me-3"> تعديل </a>
										
										
										{% if not givenTask.status == 'منجزة' and not givenTask.status == 'منجزة جزئياً' and not givenTask.status == 'مرفوضة من البعض' and not givenTask.status == 'مسترجعة'%}
											<a href="{% url 'head-kai-account:retrieve_task' task_id=givenTask.task_id %}" class="btn btn-danger me-2">إسترجاع المهمة</a>
										{% endif %}
										{% endif %}

										
										<a href="{% url 'head-kai-account:tasks' %}" class="btn btn-primary me-3">رجوع</a>

										{% if givenTask.kai_initiation == user %}
											{% if givenTask.status == 'مرفوضة' or givenTask.status == 'تم الرفض من قبل البعض' or givenTask.status == 'منجزة جزئياً، مرفوضة من البعض' %}
												<a href="" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#Reassigning ">تم الرفض من قبل بعض الأعضاء (إطلاع على التفاصيل )</a>
											{% endif %}
											
											{% if givenTask.pending_status == 'طلب تعليق المهمة' %}
											<a href="" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#pendingReview "> طلبات تعليق المهمة (إطلاع على التفاصيل )</a>
											{% endif %}
										{% endif %}
										
									</div>
								</div>

									<div class="mt-5">
										<div class="main-profile-contact-list row">
											<div class="media col-sm-4 p-0">
												<div class="media-icon bg-primary me-3 mt-1">
													<i class="las la-flag fs-20 text-white"></i> <!-- Icon for priority -->
												</div>
												<div class="media-body">
													<span class="text-muted">أولوية المهمة</span>
													<div class="font-weight-semibold fs-25">
														{{givenTask.priority}}
													</div>
												</div>
											</div>
											<div class="media col-sm-4 p-0">
												<div class="media-icon bg-primary me-3 mt-1">
													<i class="las la-tasks fs-20 text-white"></i> <!-- Icon for task type -->
												</div>
												<div class="media-body">
													<span class="text-muted">نوع المهمة</span>
													<div class="font-weight-semibold fs-25">
														{{givenTask.task_type}}
													</div>
												</div>
											</div>
											<div class="media col-sm-4 p-0">
												<div class="media-icon bg-primary me-3 mt-1">
													<i class="las la-clipboard-list fs-20 text-white"></i> <!-- Changed icon for necessary procedure -->
												</div>
												<div class="media-body">
													<span class="text-muted">الإجراء المطلرب</span>
													<div class="font-weight-semibold fs-25">
														{{givenTask.necessary_procedure}}
													</div>
												</div>
											</div>
										</div>
									</div>
							
									<div class="profile-cover">
										<div class="wideget-user-tab">
											<div class="tab-menu-heading p-0">
												<div class="tabs-menu1 px-3">
													<ul class="nav" style="height: 45px;">
														<li><a href="#tab-1" class="active" data-bs-toggle="tab">تفاصيل المهمة</a></li>
														<li><a href="#tab-2" data-bs-toggle="tab" class="">الخط الزمني</a></li>
														<li><a href="#tab-3" data-bs-toggle="tab" class="">المهام الفرعية</a></li>
														
													</ul>
												</div>
											</div>
										</div>
									</div>	
							</div>
						</div>
                        <!-- END ROW -->
						

						<!--End the top card with action buttons and summery info Task priority, task type, task requierd procedure-->

                        <!--Start of main tab task info -->
						<!-- ROW -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="border-0">
									<div class="tab-content">

										<!-- order info -->
										<div class="tab-pane active" id="tab-1">
											<div class="card">

												{% if givenTask.kai_initiation != user %}
													<div class="card-body h5">
														<h4 class="font-weight-semibold"> حالة المهمة بنسبة للمستخدم</h4>
														<div class="main-profile-contact-list d-lg-flex">
															<div class="font-weight-semibold"  style="color:#0084BD;">
																<p>إذا قمت بإنجاز هذه المهمة، فستُعتبر المهمة منجزة. في حال لم يحدث ذلك، ستظل الخانة مُعلمة كـ "مسندة"</p>
																{% if userAssignment > 0 %}
																	<p>مسندة</p>
																{% else %}
																{% if userAccompleshment > 0 %}
																	<p>منجزة</p>
																{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												{% endif %}
												 
												<div class="card-body h5">
													<h4 class="font-weight-semibold">إسم المهمة</h4>
													<div class="main-profile-contact-list d-lg-flex">
														<div class="font-weight-semibold"  style="color:#0084BD;">
														<p>{{givenTask.task_name}}</p>
														</div>
													</div>
												</div>
												
												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">مقدم الطلب</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{% if givenTask.faculty_initiation %}
															{{ givenTask.faculty_initiation.first_name}} {{givenTask.faculty_initiation.last_name}}
														{% else %}
															{{givenTask.kai_initiation.first_name}} {{givenTask.kai_initiation.last_name}}
														 {% endif %}
													</div>	
												</div> 

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">التاريخ</h4>
													<div class="main-profile-contact-list d-lg-flex">
														<div class="font-weight-semibold"  style="color:#0084BD;">
															<small class="text-muted">من </small>
															<i class="fa fa-calendar pb-3" style="margin-right: 5px;"></i>
																{{givenTask.start_date | date:"d-m-Y"}}
															<small class="text-muted">الى </small>
															<i class="fa fa-calendar pb-3" style="margin-right: 5px;"></i>
																 {{givenTask.end_date | date:"d-m-Y"}}
														</div>
													</div>
												</div>
												
												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">وصف المهمة</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
													  	{{givenTask.task_description}}
													</div>	
												</div>
												
												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">حالة المهمة</h4>
													<div class="font-weight-semibold" style="color:#0084BD;">
														<i class="" style="margin-right: 5px;"></i>
														{{givenTask.status}}
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">ملاحظات</h4>
													<div class="font-weight-semibold"  style="color:#0084BD;">
														{% if givenTask.notes %}
															{{ givenTask.notes}}	
														{% else %}
															<P>لا يوجد ملاحظات</P>
														{% endif %}
													</div>	
												</div>

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">هذه المهمة مُسندة إلى</h4>
													<div class="font-weight-semibold"  style="color:#0084BD;">
														{% for FacultyMember in Faculty_user %}
															{{ FacultyMember.first_name }} {{ FacultyMember.last_name }}<br><br>
														{% endfor %}
				
														{% for KAIMember in Kai_user %}
															{{ KAIMember.first_name }} {{ KAIMember.last_name }}<br><br>
														{% endfor %}
													</div>	
												</div>

												<div class="modal-body border-top">
													<div class="form-group">
														<label class="form-label">الملفات</label>
													</div>    
													<div class="font-weight-semibold"  style="color:#0084BD;">
														{% if files %}
															{% for file in files %}
																<a href="{% url 'head-kai-account:view_tasktfile' givenTask.task_id file.fileid %}" type="button" class="btn btn-outline-info" target="_blank">الإطلاع على  الملف {{ forloop.counter }}</a>
															{% endfor %}
														{% else %}
															<p>لا يوجد ملف مرفق </p>
														{% endif %}	
													</div>
												</div>
												{% if givenTask.kai_initiation != user%}

												{% if completedTasksByUseresCount > 0 %}

												<div class="modal-body border-top">
													<div class="form-group">
														<label class="form-label">مستندات الإنجاز</label>
													</div>    
													<div class="font-weight-semibold"  style="color:#0084BD;">
														{% for task in completedTasksByUseres%}

														تم إنجاز هذه المهمة من قبل: {{ task.faculty_user.first_name}} {{ task.faculty_user.last_name}} {{task.kai_user.first_name }} {{ task.kai_user.last_name}}<br>

														<p>تاريخ الإضافة: {{ task.addeddate }}</p>

														{% if task.addedtext %}
														<p>الوصف: {{ task.addedtext }}</p>
													{% endif %}
													{% if task.attachment %}
														<p> <a href="{{ task.attachment.url }}" type="button" class="btn btn-outline-info" target="_blank">تحميل المرفق</a></p>
													{% else %}
											         {% endif %}

														{% endfor %}
														
													</div>
												</div>

												{% endif %}
												{% endif %}

												<div class="card-body border-top h5">
													<h4 class="font-weight-semibold">إنجاز المهمة</h4>
													{% if givenTask.full_accomplishment %}
														<P>يجب إنجاز المهمة من جميع الأشخاص المسندة إليهم حتى يتم إنجازها</P>
													{% else %}
														<P>يجب إنجاز المهمة من شخص ١ على الأقل حتى يتم إنجازها</P>
													{% endif %}
													<div class="font-weight-semibold"  style="color:#0084BD;"></div>
												</div>

												

												{% if givenTask.is_main_task == False %}
													<div class="card-body border-top h5">
														<h4 class="font-weight-semibold">هذه المهمة مهمة فرعية تابعة الى</h4>
														<div class="font-weight-semibold"  style="color:#0084BD;">
															إسم المهمة: {{givenTask.main_task.task_name}}
														</div>	
													</div>
												{% endif %}


											</div>
										</div>
										<!--Start of main tab task info -->

										<!-- tab-2 -->
										<div class="tab-pane" id="tab-2">
											<ul class="timelinestart pb-5">
												{% for date, status in status_with_dates %}
													<li>
														<i class="fa fa-circle bg-primary"></i>
														<div class="timelinestart-item">
															<span class="time">{{date}}</span>
															<h4 class="timelinestart-header"><span>{{status}}</span></h4>
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>
										<!-- endtab-2 -->

										<!--Start of tab3 sub tasks hierarchy-->
										<div class="tab-pane" id="tab-3">
											<div class="tree-container" >	
												<ul id="tree2">
													<ul>
														{% for task, level in flat_hierarchy %}
														{% with "75B8E4,9FCFF2,C9E7FF,92B7D7,A7C8E2,BDD9ED,D2EBF8,FFFFFF"|split:"," as color_list %}
																{% with color_list|length as list_length %} 
																	{% with level|add:"0"|slice:":1"|join:""|add:"0" as color_index %}
																		{% with color_list|get_list_item:color_index as background_color %}
																			<ul>  
																				<li class="task-box" style="margin-left: {{ level|multiply:120 }}px; background-color: #{{ background_color }};">
																					<div class="task-content">
																						<strong>اسم المهمة:</strong> {{ task.task_name }}<br>
																						<strong>حالة المهمة:</strong> {{ task.status }}<br>
																						<strong>منشأة من قبل:</strong> {{ task.faculty_initiation.first_name }} {{ task.faculty_initiation.last_name }}{{ task.kai_initiation.first_name }} {{ task.kai_initiation.last_name }}<br>
																						<strong>مسندة إلى:</strong>
																						{% for FacultyMember in Faculty_user %}
																							{{ FacultyMember.first_name }} {{ FacultyMember.last_name }}<br>
																						{% endfor %}
																			
																						{% for KAIMember in Kai_user %}
																							{{ KAIMember.first_name }} {{ KAIMember.last_name }}<br>                                                             
																						{% endfor %}
																					</div>
																				</li>
																			</ul> 
																		{% endwith %}
																	{% endwith %}
																{% endwith %}
															{% endwith %}  
														{% endfor %}
													</ul>  
												</ul> 
											</div>  
										</div>
										<!--End of tab3 sub tasks hierarchy-->						
																				
									</div>
								</div>
							</div>
						</div>


							
     <!--********************************************مودل طلب الانشاء  *************************************************-->
     	<div class="modal fade"  id="newprojectmodal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="smartwizard-3">
                <div class="modal-header">
                    <h5 class="modal-title">طلب إنشاء</h5>
                    <button  class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="border: none;">
                        <span aria-hidden="true"> × </span>
                    </button>
                </div>
                <form method="post" onsubmit="return validateForm();" id="orderform"  enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">نوع المهمة<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="نوع المهمة" name="tasktype" required>
                            <span class="error-message-tasktype" style="color: red;"></span>
                          </div>
                        </div>
                      
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">إسم المهمة <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="اسم المهمة الأساسية" name="tasktopic" required>
							<span class="error-message-tasktopic" style="color: red;"></span>
                          </div>
                        </div>  
                    </div>
                      
                      <div class="form-group">
                        <label class="form-label">وصف المهمة<span style="color: red;">*</span></label>    
                        <textarea class="form-control" rows="4" cols="105" placeholder="شرح المهمة الأساسية" name="taskdescription" required></textarea>
                        <span class="error-message-taskdescription" style="color: red;"></span>
                      </div>
                      
                      <div class="form-group">
						<label class="form-label"> <input type="checkbox" name="isfull_accomplishment">  يجب إنهاء المهمة من قبل جميع الأطراف</label>
					  </div>  

                      <div class="form-group">
                        <label class="form-label">ارفاق ملفات المهمة<small style="color: red;">.pdf, .pptx, .doc, .docx, .xlsx</small></label>
                        <div class="form-group">
                          <label class="form-label"></label>
                          <input class="form-control" type="file" name="attachment" accept=".pdf, .pptx, .doc, .docx, .xlsx" multiple>
                          <span class="error-message-attachment" style="color: red;"></span>
                          <div id="fileList" class="file-list"></div>
                        </div>
                      </div>

                      <div class="row">
						<div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">تاريخ بداية المهمة <span style="color: red;">*</span></label>
                                <input class="form-control flatpickr date" placeholder="DD-MM-YYYY" type="date" data-input name="startdate_display" value="" disabled>
                                 <input type="hidden" name="startdate" value="">
                                <span class="error-message-startdate" style="color: red;"></span>
                            </div>
                        </div>
                        
						<div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">تاريخ إنتهاء المهمة <span style="color: red;">*</span></label>
                                <input class="form-control flatpickr date" placeholder="DD-MM-YYYY" type="date" data-input name="enddate"  required>
                                <span class="error-message-enddate" style="color: red;"></span>
                            </div>
                        </div>
                     </div>

                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">الإجراء المطلوب<span style="color: red;">*</span></label>
                            <select class="form-control" name="requiredprocedure" required onchange="toggleInputBox(this)" style="appearance: none; background: url('data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;14&quot; height=&quot;12&quot; viewBox=&quot;0 0 140 120&quot;><polygon points=&quot;70,100 0,0 140,0&quot; style=&quot;fill:black;&quot;/></svg>') no-repeat right .75rem center; background-size: 14px 12px; padding-right: 2.5rem;">
                              <option value="تنفيذ">تنفيذ</option>
                              <option value="مراجعة">مراجعة</option>
                              <option value="إبداء رأى">إبداء رأى</option>
                              <option value="توقيع">توقيع</option>
                              <option value="else">أخرى</option>
                            </select>
                            <span class="error-message-requiredprocedure" style="color: red;"></span>
                          </div>
                          <!-- Dynamic input box for "أخرى" option -->
                          <div class="form-group" id="otherProcedureInput" style="display: none;">
                            <label for="otherProcedure">الإجراء المطلوب<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="otherProcedure" name="otherProcedure" placeholder="يرجى تحديد الإجراء المطلوب">
							<span class="error-message-otherProcedure" style="color: red;"></span>
                          </div>
                        </div>
                        
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-label">أولوية المهمة<span style="color: red;">*</span></label>
                            <select class="form-control" name="priority" required style="appearance: none; background: url('data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;14&quot; height=&quot;12&quot; viewBox=&quot;0 0 140 120&quot;><polygon points=&quot;70,100 0,0 140,0&quot; style=&quot;fill:black;&quot;/></svg>') no-repeat right .75rem center; background-size: 14px 12px; padding-right: 2.5rem;">
                              <option value="عادية">عادية</option>
                              <option value="عاجلة">عاجلة</option>
                            </select>
                            <span class="error-message-priority" style="color: red;"></span>
                          </div>
                        </div>
                      </div>
                    

					  <div class="form-group">
                        <label class="form-label">إسناد المهمة إلى <span style="color: red;">*</span></label>
                        <select class="form-control select2"  id="mySelect" name="assiningto" data-placeholder= "إسناد المهمة إلى " multiple required>
                            
                          
                    
                            {% for person in departmenthead %}
                            <option value="a.{{ person.id }}">
                                {{ person.first_name }} {{ person.last_name }} | {{ person.position }}  للبحوث والدراسات الإستشارية 
                            </option>
                            {% endfor %}
                    
                            {% for person in allKaistaff %}
                            <option value="a.{{ person.id }}">
                                {{ person.first_name }} {{ person.last_name }} | {{ person.position }}  للبحوث والدراسات الإستشارية 
                            </option>
                            {% endfor %}

                            {% for head in otherCollagesBUHeads %}
                                {% for collage in allCollages %}
                                    {% if head.collageid.collageid == collage.collageid %}
                                        <option value="c.{{ head.id }}">
                                            {{head.first_name }} {{ head.last_name }} |  رئيس وحدة الأعمال  {{ collage.name }} 
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select> 
                        <span class="error-message-assiningto" style="color: red;"></span><br>
                    </div>
                    
					<div class="form-group">
                        <label class="form-label">ملاحظات</label>    
                        <textarea class="form-control" rows="4" cols="105" placeholder="ملاحظات" name="notes" ></textarea>    
                    </div>                      
                </div>
                
                <div class="modal-footer">
                    <button  name="submit" class="btn btn-danger" data-bs-dismiss="modal">إغلاق</button>
                    <button  class="btn btn-primary projectnotify">إرسال الطلب</button>
                </div>
            </form>
            </div>
        </div>
    	</div>
  	<!--********************************************نهاية مودل طلب الانشاء *************************************************-->

 

                      
        {% endblock %}

		
{% block scripts %}
        

<script src="{% static 'assets/plugins/treeview/treeview.js'%}"></script>
<!-- INTERNAL TIMEPICKER JS -->
<script src="{% static 'assets/plugins/time-picker/jquery.timepicker.js'%}"></script>
<script src="{% static 'assets/plugins/time-picker/toggles.min.js'%}"></script>

<!-- INTERNAL DATEPICKER JS -->
<script src="{% static 'assets/plugins/date-picker/date-picker.js'%}"></script>
<script src="{% static 'assets/plugins/date-picker/jquery-ui.js'%}"></script>
<script src="{% static 'assets/plugins/input-mask/jquery.maskedinput.js'%}"></script>

<!-- INTERNAL FILE-UPLOADS JS -->
<script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js'%}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js'%}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js'%}"></script>
<script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js'%}"></script>
<script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js'%}"></script>

<!-- INTERNAL FILE-UPLOADS JS -->
<script src="{% static 'assets/plugins/fileupload/js/dropify.js'%}"></script>
<script src="{% static 'assets/js/filupload.js'%}"></script>

<!-- INTERNAL SUMOSELECT JS -->
<script src="{% static 'assets/plugins/sumoselect/jquery.sumoselect.js'%}"></script>

<!-- INTERNAL INTLTELINPUT JS -->
<script src="{% static 'assets/plugins/intl-tel-input-master/intlTelInput.js'%}"></script>
<script src="{% static 'assets/plugins/intl-tel-input-master/country-select.js'%}"></script>
<script src="{% static 'assets/plugins/intl-tel-input-master/utils.js'%}"></script>

<!-- INTERNAL JQUERY TRANSFER JS -->
<script src="{% static 'assets/plugins/jQuerytransfer/jquery.transfer.js'%}"></script>

<!-- INTERNAL MULTI JS -->
<script src="{% static 'assets/plugins/multi/multi.min.js'%}"></script>

<!-- INTERNAL BOOTSTRAP-DATEPICKER JS -->
<script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>

<!-- INTERNAL FORM ADVANCED ELEMENT JS -->
<script src="{% static 'assets/js/formelementadvnced.js'%}"></script>
<script src="{% static 'assets/js/form-elements.js'%}"></script>
<script src="{% static 'assets/js/select2.js'%}"></script>

<!-- INTERNAL MULTIPLE SELECT JS -->
<script src="{% static 'assets/plugins/multipleselect/multiple-select.js'%}"></script>
<script src="{% static 'assets/plugins/multipleselect/multi-select.js'%}"></script>

<!-- THEME COLOR JS -->
<script src="{% static 'assets/js/themeColors.js'%}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

  <!-- INTERNAL DATA TABLES  -->
  <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js'%}"></script>
  <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.js'%}"></script>
  <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js'%}"></script>
  <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js'%}"></script>
  <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js'%}"></script>
  <script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js'%}"></script>
  <script src="{% static 'assets/js/datatables.js'%}"></script>
  <script src="{% static 'assets/js/client/client-list.js'%}"></script>

<!-- Include Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">

<!-- Include Bootstrap Bundle with Popper (required for modals) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/plugins/treeview/treeview.js'%}"></script>

<script>
	function validateForm() {
	// Retrieve form elements
	var tasktype = document.querySelector('input[name="tasktype"]');
	var tasktopic = document.querySelector('input[name="tasktopic"]');
	var taskdescription = document.querySelector('input[name="taskdescription"]');
	var otherProcedure = document.querySelector('input[name="otherProcedure"]');
	var startdate = new Date(document.querySelector('input[name="startdate"]').value);
	var enddate = new Date(document.querySelector('input[name="enddate"]').value);

	// 1
	if (tasktype.value.length < 3) {
		return false;
	} else if (/^\d+$/.test(tasktype.value.trim()) || /^[0-9]/.test(tasktype.value.trim())) {
		return false;
	} 
	// 2
	if (tasktopic.value.length < 3) {
		return false;
	} else if (/^\d+$/.test(tasktopic.value.trim()) || /^[0-9]/.test(tasktopic.value.trim())) {
		return false;
	} 
	// 3
	if (taskdescription.value.length < 3) {
		return false;
	} else if (/^\d+$/.test(taskdescription.value.trim()) || /^[0-9]/.test(taskdescription.value.trim())) {
		return false;
	} 
	// 4
	var inputField = document.getElementById('otherProcedure');
    if (inputField.required == true && otherProcedure.value.length < 3) {
        return false;
    } else if (/^\d+$/.test(otherProcedure.value.trim()) || /^[0-9]/.test(otherProcedure.value.trim())) {
        return false;
    } 
	// 5
	if (startdate > enddate) {
		return false; 
	} 

return true;

}
</script>

<!-- <script>
function Task_completionvalidateForm() {
	var taskdescription = document.querySelector('textarea[name="Task_completion_description"]');
	
	if (taskdescription.value.length < 3) {
		return false;
	} else if (/^\d+$/.test(taskdescription.value.trim()) || /^[0-9]/.test(taskdescription.value.trim())) {
		return false;
	}
return true;
}
</script> -->

<script>
	function ask_for_pendingvalidateForm() {
		var pending_reasons = document.querySelector('textarea[name="pending_reasons"]');
		
		if (pending_reasons.value.length < 3) {
			return false;
		} else if (/^\d+$/.test(pending_reasons.value.trim()) || /^[0-9]/.test(pending_reasons.value.trim())) {
			return false;
		}
	return true;
	}
</script>

<script>
	function reject_taskvalidateForm() {
		var rejection_reasons = document.querySelector('textarea[name="rejection_reasons"]');
		
		if (rejection_reasons.value.length < 3) {
			return false;
		} else if (/^\d+$/.test(rejection_reasons.value.trim()) || /^[0-9]/.test(rejection_reasons.value.trim())) {
			return false;
		}
	return true;
	}
</script>

<script>
	function reject_taskvalidateForm() {
		var rejection_reasons = document.querySelector('textarea[name="rejection_reasons"]');
		
		if (rejection_reasons.value.length < 3) {
			return false;
		} else if (/^\d+$/.test(rejection_reasons.value.trim()) || /^[0-9]/.test(rejection_reasons.value.trim())) {
			return false;
		}
	return true;
	}
</script>

<!-- ******** AJAX -->
<script> 
	$(document).ready(function() {  
		// 1
		$('input[name="tasktype"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-tasktype').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-tasktype').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-tasktype').text('');
			}
		});
		// 2
		$('input[name="tasktopic"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-tasktopic').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-tasktopic').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-tasktopic').text('');
			}
		});
		// 3
		$('textarea[name="Task_completion_description"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-Task_completion_description').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-Task_completion_description').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-Task_completion_description').text('');
			}
		});
		// 
		$('textarea[name="taskdescription"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-taskdescription').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-taskdescription').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-taskdescription').text('');
			}
		});

		$('textarea[name="pending_reasons"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-pending_reasons').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-pending_reasons').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-pending_reasons').text('');
			}
		});

		$('textarea[name="rejection_reasons"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-rejection_reasons').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-rejection_reasons').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-rejection_reasons').text('');
			}
		});
		// 4
		$('input[name="enddate"]').on('blur', function() {
			var startDate = $('input[name="startdate"]').val();
			var endDate = $(this).val();
			if (endDate === '') {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-enddate').text('');
			} else {
				startDate = new Date(startDate);
				endDate = new Date(endDate);    
				if (startDate > endDate) {
					$(this).addClass('is-invalid');
					$(this).siblings('.error-message-enddate').text('يجب أن يأتي تاريخ انتهاء المهمة بعد تاريخ بدء المهمة');
				} else {
					$(this).removeClass('is-invalid');
					$(this).siblings('.error-message-enddate').text('');
				}
			}
		 });
		// 5
		$('input[name="otherProcedure"]').on('blur', function() {
			var topic = $(this).val();
			if (topic.length < 3) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-otherProcedure').text('يجب ملئ الحقل و ان يكون ثلاثة حروف فأكثر');
			}else if (/^\d+$/.test(topic.trim())) {
				$(this).addClass('is-invalid');
				$(this).siblings('.error-message-otherProcedure').text('لا يمكن أن يكون جميع الحروف أرقام'); 
			} else {
				$(this).removeClass('is-invalid');
				$(this).siblings('.error-message-otherProcedure').text('');
			}
		});
	});
</script>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Initialize flatpickr for date inputs
		flatpickr('.flatpickr[data-input][data-date]', {
			dateFormat: "d-m-Y",
			minDate: "today",
		});

		// Initialize flatpickr for time inputs
		flatpickr('.flatpickr[data-input][data-time]', {
			enableTime: true,
			noCalendar: true,
			dateFormat: "H:i",
		});
	});
</script>

<script> 
	$(function() {
		$(document).ready(function () {
			var todaysDate = new Date();
			var year = todaysDate.getFullYear();
			var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
			var day = ("0" + todaysDate.getDate()).slice(-2);
			var maxDate = (year +"-"+ month +"-"+ day);
			$('.date').attr('min',maxDate);
		});
		});``
</script>

<script>
	// Get the button and attach a click event listener
	const taskCompletionBtn = document.getElementById('taskCompletionBtn');
	taskCompletionBtn.addEventListener('click', handleTaskCompletion);

	function handleTaskCompletion() {
	// Check the condition for not completed subtasks
	if (givenTask.NotCompletedSubTasks.count() == 0) {
		// Update the message in the modal
		document.getElementById('alertMessage').textContent = 'هل أنت متأكد من إنجاز المهمة؟';

		// Show the modal
		const customAlert = new bootstrap.Modal(document.getElementById('customAlert'));
		customAlert.show();

		// Add the necessary input fields
		const modalBody = document.querySelector('#customAlert .modal-body');
		modalBody.innerHTML += `
		<div class="form-group">
			<label class="form-label">ارفاق ملفات المهمة<small style="color: red;">.pdf, .pptx, .doc, .docx, .xlsx</small></label>
			<div class="form-group">
			<label class="form-label"></label>
			<input class="form-control" type="file" name="attachment" accept=".pdf, .pptx, .doc, .docx, .xlsx" multiple>
			<span class="error-message-attachment" style="color: red;"></span>
			<div id="fileList" class="file-list"></div>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label">خطاب الانجاز <span style="color: red;">*</span></label>    
			<textarea class="form-control" rows="4" cols="105" placeholder="" name="taskdescription" required></textarea>
			<span class="error-message-subject" style="color: red;"></span>
		</div>
		`;

		// Add event listener to the confirm button
		const alertConfirmBtn = document.getElementById('alertConfirm');
		alertConfirmBtn.addEventListener('click', handleTaskConfirmation);
	} else {
		// Update the message in the modal
		document.getElementById('alertMessage').textContent = 'يوجد مهام فرعية غير منجزة لهذه المهمة. هل أنت متأكد من إنجازها؟';

		// Show the modal
		const customAlert = new bootstrap.Modal(document.getElementById('customAlert'));
		customAlert.show();

		// Add event listener to the confirm button
		const alertConfirmBtn = document.getElementById('alertConfirm');
		alertConfirmBtn.addEventListener('click', handleSubtaskConfirmation);
	}
	}

	function handleTaskConfirmation() {

	}

	function handleSubtaskConfirmation() {

	}
</script>




<script>
	document.addEventListener('DOMContentLoaded', function() {
	var modal = document.getElementById('TaskCompletion12');
	
		// Listen for the 'shown.bs.modal' event on the modal
		modal.addEventListener('shown.bs.modal', function() {
			// The modal is now open, and the DOM is accessible
			var form = modal.querySelector('form');
			
			if (form) {
				var taskDescription = form.querySelector('textarea[name="Task_completion_description"]');
				var attachment = form.querySelector('input[name="attachment_Task_completion"]');
				var errorMessagetaskDescription = form.querySelector('.error-message-Task_completion_description');
				var errorAttachment = form.querySelectorAll('.error-message-attachment_Task_completion');
				
				form.addEventListener('submit', function(event) {
					var textAreaValue = taskDescription.value.trim();
					var fileValue = attachment && attachment.files.length;
					var isTextareaValid = textAreaValue.length >= 3;
					var isFileValid = fileValue > 0;
			
					// Clear any existing error messages
					if (errorMessagetaskDescription) {
					errorMessagetaskDescription.innerText = '';
					}
					errorAttachment.forEach(function(errorElement) {
					errorElement.innerText = '';
					});
			
					// Only show an error if both conditions are not met
					if (!isTextareaValid && !isFileValid) {
					event.preventDefault(); // Prevent form submission
					if (errorMessagetaskDescription) {
						errorMessagetaskDescription.innerText = 'يجب إدخال خطاب المهمة بحد أدنى ٣ أحرف أو رفع ملف.';
					}
					}
				});
			}
		});
	});
</script>


<script>
jQuery(document).ready(function($) {
	$('body').addClass('rtl');
	$('body').removeClass('ltr');
	$("html[lang=en]").attr("dir", "rtl");
});
</script>

<script>
	function toggleChildren(containerId) {
		var container = document.getElementById(containerId);
		if (container) {
			container.style.display = container.style.display === "none" ? "block" : "none";
		}
	}
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	var today = new Date().toISOString().split('T')[0];
	
	// Set the displayed but disabled date field
	document.querySelector('input[name="startdate_display"]').value = today;
	
	// Also update the hidden field which will be submitted with the form
	document.querySelector('input[name="startdate"]').value = today;
	});
</script>

<script>
	function toggleInputBox(selectElement) {
		var inputBox = document.getElementById('otherProcedureInput');
		var inputField = document.getElementById('otherProcedure');
		if (selectElement.value === 'else') {
			inputBox.style.display = 'block';
			inputField.required = true;
		} else {
			inputBox.style.display = 'none';
			inputField.required = false;
		}
	}
</script>

<script>
	$(document).ready(function () {
	var $select = $('#mySelect').selectize();
	});
</script>
<script>
	$(document).ready(function () {
	var $select = $('#mySelect2').selectize();
	});
</script>
<script>
	$(document).ready(function () {
		var selectize = $('#mySelect_assigningto').selectize()[0].selectize; // Initialize selectize for your select input

		$('#no-assignment').change(function() { 
			if ($(this).prop('checked')) {
				selectize.clear(); // Clear selected options if checkbox is checked
				selectize.disable(); // Disable the selectize control
				document.querySelector('.error-message-instructor').innerText = '';
			} else {
				selectize.enable(); // Enable the selectize control
			}
		});
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var form = document.getElementById('reassignForm');
		form.addEventListener('submit', function(event) {
			var select = document.getElementById('mySelect_assigningto');
			var checkbox = document.getElementById('no-assignment');
			var errorMessage = document.getElementById('error-message');
			var hasSelectedOption = select.selectedOptions.length > 0;
	
			// Check if any option is selected (hasSelectedOption) or if the checkbox is checked
			if (!hasSelectedOption && !checkbox.checked) {
				// Prevent form submission
				event.preventDefault();
				// Show error message
				errorMessage.style.display = 'block';
			} else {
				// Hide the error message and allow form submission
				errorMessage.style.display = 'none';
			}
		});
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const form = document.getElementById('reassignForm');
		const select = document.getElementById('mySelect2');
		const checkbox = document.getElementById('no-assignment');
		const submitButton = form.querySelector('button[type="submit"]');
		const errorMessage = document.getElementById('error-message');
	
		submitButton.addEventListener('click', function(event) {
			let selectedOptions = $(select).val(); // Using jQuery to get selected values
			let isCheckboxChecked = checkbox.checked;
	
			// Check if either select has values or checkbox is checked
			if ((selectedOptions === null || selectedOptions.length === 0) && !isCheckboxChecked) {
				event.preventDefault(); // Prevent form submission
				errorMessage.style.display = 'block'; // Show error message
				errorMessage.textContent = 'الرجاء إسناد المهمة أو الضغط على عدم إسناد المهمة'; // Set the Arabic error message
			} else {
				errorMessage.style.display = 'none'; // Hide error message
			}
		});
	});
	</script>

{% endblock %}