  {% load static %}   
  <style>
	li.slide:hover {
		background-color: #0084BD !important;
		color: #fff !important;
	}

	.slide:hover .sidemenu_icon , .side-menu__label:hover {
		color: #fff !important;
	}

	.slide-item:hover{
		background-color: #fff !important;
		color: #0084BD !important;
	}

	.side-menu__item {
        color: #0084BD;
    }

    .side-menu__item:hover,
    .slide.active > .side-menu__item {
		color: #fff !important;
    }

    .side-menu__item:hover .sidemenu_icon,
    .slide.active > .side-menu__item .sidemenu_icon {
        color: #fff !important;
    }

    .slide:hover .side-menu__label,
    .slide.active > .side-menu__item .side-menu__label  {
        color: #fff !important;
    }
  </style>       
				<div class="sticky">
					<aside class="app-sidebar">
						<div class="app-sidebar__logo">
							<a class="header-brand" href="{% url 'kai_staff:kaistaff-home' %}">
								<img src="" class="header-brand-img desktop-lgo" alt="businessgatelogo">
								<img src="{% static 'assets/images/brand/logowithname.png'%}" class="header-brand-img dark-logo" alt="businessgatelogo" height="60" >
								<img src="" class="header-brand-img mobile-logo" alt="businessgatelogo">
								<img src="{% static 'assets/images/brand/businessgatelogo.png'%}" class="header-brand-img darkmobile-logo" alt="businessgatelogo"  height="55" >
							</a>
						</div>
						<div class="app-sidebar3" >
							<div class="main-menu"  >
								<div class="app-sidebar__user" >
									<div class="dropdown user-pro-body text-center">
										<div class="user-info" style="color:#0084BD;">
											<h5 class=" mb-2" >{{user.first_name}} {{user.last_name}}</h5>
											<span class="text-muted app-sidebar__user-name text-sm" >{{user.position}}</span>
										</div>
									</div>
								</div>
								<div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"/></svg></div>
								<ul class="side-menu" >
									<!-- ********************** -->
									<li class="slide" >
										<a href="{% url 'kai_staff:kaistaff-home'%}" class="side-menu__item" style="color:#0084BD;">
											<i class="feather feather-home  sidemenu_icon" style="color:#0084BD;"></i>
											<span class="side-menu__label">لوحة التحكم</span>
										</a>
									</li>
									<!-- ********************** -->
									<li class="slide">
										<a href="{% url 'kai_staff:traning-program' %}" class="side-menu__item" style="color:#0084BD;">
											<i class="feather fa fa-ravelry sidemenu_icon" style="color:#0084BD;"></i>
											<span class="side-menu__label">البرامج التدريبية</span>
											{% if program_ids.count > 0 %}
												<span class="badge badge-pill" style="background-color:red; color: white;">{{ program_ids.count }}</span>
											{% endif %}
										</a>
									</li>
									<!-- ********************** -->
									<li class="slide">
										<a href="{% url 'kai_staff:tasks' %}" class="side-menu__item" style="color:#0084BD;">
											<i class="feather fa fa-check  sidemenu_icon" style="color:#0084BD;"></i>
											<span class="side-menu__label">المهام</span>
											{% if notifications_in_tasks.count > 0 %}
												<span class="badge badge-pill" style="background-color:red; color: white;">{{ notifications_in_tasks.count }}</span>
											{% endif %}
										</a>
									</li>
									<!-- ********************** -->
									<li class="slide ">
										<a class="side-menu__item" data-bs-toggle="slide" id="try" >
											<i class="feather fa fa-comments  sidemenu_icon" style="color:#0084BD;"></i>
											<span class="side-menu__label" style="color:#0084BD;"> التواصل</span><i class="angle fa fa-angle-right"></i>
										</a>
										<ul class="slide-menu">
											<li><a href="{% url 'kai_staff:videocall' %}"class="slide-item" >مكالمة جديدة</a></li>
											<li><a href="{% url 'kai_staff:joinroom' %}" class="slide-item">الإنضمام الى مكالمة</a></li>
											<li><a href="{% url 'kai_staff:chat' %}"class="slide-item">المحادثات</a></li>
										</ul>
									</li>
									<!-- ********************** -->
									

								</ul>
							</div>
						</div>
					</aside>
				</div>