<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Business Gate</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="static/assets/images/brand/img/businessgatelogo.png">

	<!-- CSS here -->
	<link rel="stylesheet" href="static/assets/css/mainpage-style.css">
</head>

<body>
   <!-- header-start -->
   <header>
	<div class="header-area ">
		<div id="sticky-header" class="main-header-area">
			<div class="container-fluid">
				<div class="header_bottom_border">
					<div class="row align-items-center">
						<div class="col-xl-3 col-lg-2">
							<div class="logo">
								<a href="/">
									<img id="logoimg"src="static/assets/images/brand/img/logo-white.png" alt="Businessgate logo">
								</a>
							</div>
						</div>
						<div class="col-xl-6 col-lg-7">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a class="active" href="/">home</a></li>
										<li><a href="services">Business units services </a></li>
										<li><a href="https://kai.ksu.edu.sa/en"> more about KAI</a></li>
										<li><a href="contact">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-xl-3 col-lg-3 d-none d-lg-block">
							
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>
<!-- header-end -->

	<!-- bradcam_area  -->
	<div class="bradcam_area bradcam_bg_3">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="bradcam_text">
						<h3>Contact</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ bradcam_area  -->

	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>
	<p>This page will contain contact information</p>


    <!-- footer start -->
    <!--footer-->
    <div class="footer-wrapper">
		<div class="footer-widgets">
	  
			<div class="widget widget-about">
			   <img src="static/assets/images/brand/img/businessgatelogo.png" class="footer-logo">
			  
			</div>
		
			<div class="widget widget-links">
			  <h4>Useful Links</h4>
			  <ul>
				<li><a href="/">Home</a></li>
				<li><a href="services">More about business units services</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a herf="https://kai.ksu.edu.sa/en"></a></li>
			  </ul>
			</div>
		
			<div class="widget widget-contact">
			  <h4>Contact Us</h4>
			  <ul>
				<li>Email:</li>
                <li>Phone:</li>
                <li>Address:</li>
			</div>
		  </div>
		  <p class="footer-p">Business Gate is a workflow management system for KSU Business Units. It aims to improve operational efficiency and facilitate collaboration.</p> 
		</div>
	</div> 
	<!--/ footer end  -->


	<!--js code for logo replace-->
    <script>

        // Select logo img element  
        const logo = document.querySelector('.logo img');
        
        // Select header element
        const header = document.querySelector('.main-header-area'); 
        
        // Initial logo source
        let initialSrc = 'static/assets/images/brand/img/logo-white.png'; 
        
        // Scroll handler
        window.addEventListener('scroll', () => {
        
          // If scrolled past threshold, add sticky class
          if(window.pageYOffset > 50) {
        
            header.classList.add('sticky');
            
            // Change logo source
            logo.src = 'static/assets/images/brand/img/businessgatelogo.png';
        
          // If back to top, remove sticky class
          } else {
        
            header.classList.remove('sticky');
        
            // Change logo back 
            logo.src = initialSrc;
        
          }
        
        });
        
        </script><!--end of replacment code -->
</body>
</html>