<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business Gate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/images/brand/img/businessgatelogo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/mainpage-style.css">
</head>

<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img id="logoimg"src="static/assets/images/brand/img/logo-white.png" alt="Businessgate logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/">home</a></li>
                                            <li><a href="services">Business units services </a></li>
                                            <li><a href="https://kai.ksu.edu.sa/en"> more about KAI</a></li>
                                            <li><a href="contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                
                            </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
                <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-9 col-md-9">
                                    <div class="slider_text">
                                        <h4>Business Units bridging the business world and the world of higher education together for brighter future in line with Saudi Arabia vision 2030 </h4>
                                        <a href="login-1" class="boxed-btn3">Sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- prise_area_start  -->
    <!--the second prize if wanted-->
    
    <div class="prise_area">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>Why were Business Units (BUs) established in KSU?</h5>
                            <p class="prise_text">Aligned with Saudi Arabia's Vision 2030, King Saud University established Business Units (BUs) to diversify the economy, reduce oil dependence, and enhance public services. The BUs utilize the university's resources to promote sustainable development, contribute to the knowledge economy, and generate self-revenue </p>
                        </div>
                        <div class="prise_number">
                                01
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>What are the functions and activities of Business Units (BUs) in KSU?</h5>
                            <p class="prise_text">The Business Units (BUs) provide services like training, advisory offerings, projects, research and studies, and consultancy to society. These BUs aim to drive sustainable development through multidirectional knowledge transfer between KSU faculty, students, and private/public partners.
                            </p>
                        </div>
                        <div class="prise_number">
                                02
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="single_prise">
                        <div class="prise_header">
                            <h5>King Abdullah Institution for Research and Consulting Studies role? </h5>
                            <p class="prise_text">The King Abdullah Institution for Research and Consulting Studies (KAI) connects King Saud University's (KSU) academic knowledge with public and private partners through project collaborations, consulting, and contractual agreements. This facilitates applying academic insights more broadly.                                                                                                                                                                                                                      </p>
                        </div>
                        <div class="prise_number">
                               03
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- prise_area_end  -->

    

    <!-- footer start -->
    <div class="footer-wrapper">
        <div class="footer-widgets">
    
            <div class="widget widget-about">
            <img src="static/assets/images/brand/img/businessgatelogo.png" class="footer-logo">
            </div>
        
            <div class="widget widget-links">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="services">More about business units services</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a herf="https://kai.ksu.edu.sa/en"></a></li>
            </ul>
            </div>
        
            <div class="widget widget-contact">
            <h4>Contact Us</h4>
            <ul>
                <li>Email:</li>
                <li>Phone:</li>
                <li>Address:</li>
            </ul>
            </div>

        </div>
        <p class="footer-p">Business Gate is a workflow management system for KSU Business Units. It aims to improve operational efficiency and facilitate collaboration.</p> 
    </div>
<!-- </div> -->
  <!--Footer end-->


    <!--js code for logo replace-->
    <script>
        // Select logo img element  
        const logo = document.querySelector('.logo img');
        
        // Select header element
        const header = document.querySelector('.main-header-area'); 
        
        // Initial logo source
        let initialSrc = 'static/assets/images/brand/img/logo-white.png'; 
        
        // Scroll handler
        window.addEventListener('scroll', () => {
        
          // If scrolled past threshold, add sticky class
          if(window.pageYOffset > 50) {
        
            header.classList.add('sticky');
            
            // Change logo source
            logo.src = 'static/assets/images/brand/img/businessgatelogo.png';
        
          // If back to top, remove sticky class
          } else {
            header.classList.remove('sticky');
            // Change logo back 
            logo.src = initialSrc; 
          }
        });
    </script>
    <!--end of replacment code -->

</body>
</html>