<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Business Gate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/images/brand/img/businessgatelogo.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/mainpage-style.css">
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img id="logoimg"src="static/assets/images/brand/img/logo-white.png" alt="Businessgate logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/">home</a></li>
                                            <li><a href="services">Business units services </a></li>
                                            <li><a href="https://kai.ksu.edu.sa/en"> more about KAI</a></li>
                                            <li><a href="contact">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>More about Business Units services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
    <!-- works_area-start -->
<div class="works_area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section_title mb-70">
            <h3>Business Units in various colleges provides:</h3>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
            <ul class="service_area_list">
                <li>Traning Programs:</li>
                <ul class="service_details">
                    <li>Provides training courses and workshops in latest fields and topics relevant to the college's specialization. Courses can be customized as per beneficiary needs.</li>
                    <li>Training courses and workshops are offered during flexible periods (morning or evening) according to the requirements of the beneficiary.</li>
                    <li>Provide summer programs in various fields, llowing participants to benefit from the college's resources and educational environment during the summer vacation.  </li>
                </ul>

                <li>Consultation Services:</li>
                <ul class="service_details">
                    <li>Provides consulting and training services to private and public sector entities through partnerships.</li>
                    <li>Builds new partnerships to ensure continued delivery of advisory services.</li>

                </ul>
                <li>Projects and Domain-Specific Solutions:</li>
                <ul class="service_details">
                    <li>Implements project teams from faculty to deliver solutions tailored to beneficiary needs.</li>
                    <li>Submits proposals and bids for projects requested by public/private sector.</li>
                    <li>Formulates and reviews proposals for beneficiaries.</li>

                </ul>
                <li>Seminars:</li>
                <ul class="service_details">
                    <li>Organizes academic and professional seminars.</li>
                </ul>
                <li>Research and Studies:</li>
                <ul class="service_details">
                    <li>Supports establishing and improving research activities relevant to beneficiaries.
                    </li>
                    <li>Collaborates on joint research projects with industry and government.</li>


                </ul>
                <li>Executive Education Programs:</li>
                <ul class="service_details">
                    <li>Offers professional diplomas and certificate programs tailored to specific sectors.</li>

                </ul>
                <li>Resource Utilization:</li>
                <ul class="service_details">
                    <li>Rents out college facilities during vacations to external entities.
                    </li>

                </ul>
                <li class="list_summary">
                    In summary, the Business Units leverage the college's facilities, faculty and capabilities to offer customized services in training, research, consultancy and other domains to public and private sector organizations based on their needs.
                </li>
             
        </div>
      </div>
    </div>
  </div>
  <!--/ works_area-end -->

    <!-- footer start -->
  <!--footer-->
  <div class="footer-wrapper">
    <div class="footer-widgets">
  
        <div class="widget widget-about">
           <img src="static/assets/images/brand/img/businessgatelogo.png" class="footer-logo">
          
        </div>
    
        <div class="widget widget-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="services">More about business units services</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a herf="https://kai.ksu.edu.sa/en"></a></li>
          </ul>
        </div>
    
        <div class="widget widget-contact">
          <h4>Contact Us</h4>
          <ul>
            <li>Email:</li>
            <li>Phone:</li>
            <li>Address:</li>
          </ul>
        </div>
    
        
    
      </div>
      <p class="footer-p">Business Gate is a workflow management system for KSU Business Units. It aims to improve operational efficiency and facilitate collaboration.</p> 
    </div>
</div>
    <!--/ footer end  -->

    

    <!--js code for logo replace-->
    <script>

        // Select logo img element  
        const logo = document.querySelector('.logo img');
        
        // Select header element
        const header = document.querySelector('.main-header-area'); 
        
        // Initial logo source
        let initialSrc = 'static/assets/images/brand/img/logo-white.png'; 
        
        // Scroll handler
        window.addEventListener('scroll', () => {
        
          // If scrolled past threshold, add sticky class
          if(window.pageYOffset > 50) {
        
            header.classList.add('sticky');
            
            // Change logo source
            logo.src = 'static/assets/images/brand/img/businessgatelogo.png';
        
          // If back to top, remove sticky class
          } else {
        
            header.classList.remove('sticky');
        
            // Change logo back 
            logo.src = initialSrc;
        
          }
        
        });    
    </script>
</body>

</html>